{% extends 'master/base_adm.html' %}

{% set title = "Petugas" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
<style>
    .datepicker {
        z-index: 10000 !important;
        display: inherit;
    }
    .prev:before {
        content: "\2190 ";
    }
    .next:before {
        content: "\2192 ";
    }
</style>
<link href="{{ url_for('static', filename='css/bootstrap-editable.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            Daftar Petugas Bendungan
            <a data-toggle="collapse" href="#petugas" class="btn btn-primary" role="button" aria-expanded="false" aria-controls="petugas">
              Tambah Petugas
            </a>
        </h1>
        <div class="collapse" id="petugas">
            <div class="row">
                <div class="col-md-6">
                    <hr>
                    <form action="{{ url_for('admin.petugas_bendungan_add') }}" method="POST">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="form-group">
                            <label class="form-text" for="nama"><b>Nama</b></label>
                            <input type="text" name="nama" class="form-control" required aria-describedby="namehelp">
                            <small id="namehelp" class="form-text text-muted">wajib diisi</small>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="form-text" for="jabatan"><b>Jabatan</b></label>
                                <select id="jabatan" name="jabatan" class="form-control" required aria-describedby="jabhelp">
                                  <option selected>-</option>
                                  <option>Koordinator</option>
                                  <option>Keamanan</option>
                                  <option>Pemantauan</option>
                                  <option>Operasi</option>
                                  <option>Pemeliharaan</option>
                                </select>
                                <small id="jabhelp" class="form-text text-muted">wajib diisi</small>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-text" for="bendungan"><b>Bendungan</b></label>
                                <select id="bendungan" name="bendungan" class="form-control" required aria-describedby="bendhelp">
                                  <option selected>-</option>
                                  {% for bend in bendungan %}
                                    <option value="{{ bend.id }}">{{ bend.name }}</option>
                                  {% endfor %}
                                </select>
                                <small id="bendhelp" class="form-text text-muted">wajib diisi</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="form-text" for="tgl_lahir"><b>Tanggal Lahir</b></label>
                                <input class="form-control" type="text" name="tgl_lahir" id="datepicker" hidden value="" aria-describedby="tglhelp">
                                <i class="fas fa-calendar d-inline"></i><p class="ml-2 d-inline" id="tgl_lahir">Klik untuk mengisi</p>
                                <small id="tglhelp" class="form-text text-muted">boleh tidak diisi</small>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-text" for="kab"><b>Kab</b></label>
                                <input type="text" name="kab" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-text" for="pendidikan"><b>Pendidikan</b></label>
                                <input type="text" name="pendidikan" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-text" for="alamat"><b>Alamat</b></label>
                            <textarea class="form-control" name="alamat" id="alamat" value=""></textarea>
                        </div>
                        <div>
                            <button type="submit" name="submit" class="btn btn-primary my-1 mr-2">Tambah</button>
                            <a data-toggle="collapse" href="#petugas" role="button" aria-expanded="false" aria-controls="petugas">batal</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center align-middle">No</th>
                    <th class="text-center align-middle">Bendungan</th>
                    <th class="text-center align-middle">Nama</th>
                    <th class="text-center align-middle">Jabatan</th>
                    <th class="text-center align-middle">Tgl Lahir</th>
                    <th class="text-center align-middle">Kab</th>
                    <th class="text-center align-middle">Alamat</th>
                    <th class="text-center align-middle">Pendidikan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for id, d in data.items() %}
                    <tr>
                        <td rowspan="{{ d.petugas|length or 1 }}">{{ loop.index }}</td>
                        <td rowspan="{{ d.petugas|length or 1 }}"><a href="{{ url_for('bendungan.tma', lokasi_id=id) }}">{{ d.nama }}</a></td>
                        {% if d.petugas %}
                            <td>
                                <b>
                                    <a data-url="{{ url_for('admin.petugas_update') }}"
                                        class="editable"
                                        data-name="nama"
                                        data-type="text"
                                        data-title="Nama"
                                        data-pk="{{ d.petugas.0.id }}">
                                        {{ d.petugas.0.nama }}
                                    </a>
                                </b>
                            </td>
                            <td>
                                <b>
                                    <a data-url="{{ url_for('admin.petugas_update') }}"
                                        data-name="tugas"
                                        data-type="select"
                                        data-title="Jabatan"
                                        data-pk="{{ d.petugas.0.id }}"
                                        class="tugas">
                                        {{ d.petugas.0.tugas }}
                                    </a>
                                </b>
                            </td>
                            <td>
                                <b>
                                    <a data-url="{{ url_for('admin.petugas_update') }}"
                                        class="editable"
                                        data-name="tgl_lahir"
                                        data-type="date"
                                        data-title="Tanggal Lahir"
                                        data-pk="{{ d.petugas.0.id }}">
                                        {{ d.petugas.0.birthdate or '-' }}
                                    </a>
                                </b>
                            </td>
                            <td>
                                <b>
                                    <a data-url="{{ url_for('admin.petugas_update') }}"
                                        class="editable"
                                        data-name="kab"
                                        data-type="text"
                                        data-title="Kabupaten"
                                        data-pk="{{ d.petugas.0.id }}">
                                        {{ d.petugas.0.kab or '-' }}
                                    </a>
                                </b>
                            </td>
                            <td>
                                <b>
                                    <a data-url="{{ url_for('admin.petugas_update') }}"
                                        class="editable"
                                        data-name="alamat"
                                        data-type="text"
                                        data-title="Alamat"
                                        data-pk="{{ d.petugas.0.id }}">
                                        {{ d.petugas.0.alamat or '-' }}
                                    </a>
                                </b>
                            </td>
                            <td>
                                <b>
                                    <a data-url="{{ url_for('admin.petugas_update') }}"
                                        class="editable"
                                        data-name="pendidikan"
                                        data-type="text"
                                        data-title="Pendidikan"
                                        data-pk="{{ d.petugas.0.id }}">
                                        {{ d.petugas.0.pendidikan or '-' }}
                                    </a>
                                </b>
                            </td>
                            <td>
                                <input type="button" value="Hapus" onclick="deletePetugas({{ d.petugas.0.id }})" class="btn btn-sm btn-danger">
                            </td>
                        {% else %}
                            <td colspan="6"><span style="color: red;">Belum Ada Data</span></td>
                        {% endif %}
                    </tr>
                    {% for p in d.petugas %}
                        {% if loop.index > 1 %}
                            <tr>
                                <td>
                                    <a data-url="{{ url_for('admin.petugas_update') }}"
                                        class="editable"
                                        data-name="nama"
                                        data-type="text"
                                        data-title="Nama"
                                        data-pk="{{ p.id }}">
                                        {{ p.nama }}
                                    </a>
                                </td>
                                <td>
                                    <a data-url="{{ url_for('admin.petugas_update') }}"
                                        data-name="tugas"
                                        data-type="select"
                                        data-title="Jabatan"
                                        data-pk="{{ p.id }}"
                                        class="tugas">
                                        {{ p.tugas }}
                                    </a>
                                </td>
                                <td>
                                    <a data-url="{{ url_for('admin.petugas_update') }}"
                                        class="editable"
                                        data-name="tgl_lahir"
                                        data-type="date"
                                        data-title="Tanggal Lahir"
                                        data-pk="{{ p.id }}">
                                        {{ p.birthdate or "-" }}
                                    </a>
                                </td>
                                <td>
                                    <a data-url="{{ url_for('admin.petugas_update') }}"
                                        class="editable"
                                        data-name="kab"
                                        data-type="text"
                                        data-title="Kabupaten"
                                        data-pk="{{ p.id }}">
                                        {{ p.kab or "-" }}
                                    </a>
                                </td>
                                <td>
                                    <a data-url="{{ url_for('admin.petugas_update') }}"
                                        class="editable"
                                        data-name="alamat"
                                        data-type="text"
                                        data-title="Alamat"
                                        data-pk="{{ p.id }}">
                                        {{ p.alamat or "-" }}
                                    </a>
                                </td>
                                <td>
                                    <a data-url="{{ url_for('admin.petugas_update') }}"
                                        class="editable"
                                        data-name="pendidikan"
                                        data-type="text"
                                        data-title="Pendidikan"
                                        data-pk="{{ p.id }}">
                                        {{ p.pendidikan or "-" }}
                                    </a>
                                </td>
                                <td>
                                    <input type="button" value="Hapus" onclick="deletePetugas({{ p.id }})" class="btn btn-sm btn-danger">
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/id.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script>
    function deletePetugas(pet_id){
        var result = confirm("Anda yakin ingin menghapus data petugas ini?");
        if (result) {
            $.post("{{ url_for('admin.petugas_delete') }}", {pet_id:pet_id}).done(function(result){
                var a = result;
                if(a == "ok"){
                    alert("Berhasil dihapus");
                    location.reload();
                }
            });
        }

    }

    $(document).ready(function() {
        // resolve package confict
        let datepicker = $.fn.datepicker.noConflict();
        $.fn.bootstrapDP = datepicker;

        $('#tgl_lahir').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#tgl_lahir').on('changeDate', function () {
            let date = $('#tgl_lahir').datepicker('getFormattedDate');
            $('#tgl_lahir').text(moment(date).format('DD MMM YYYY'));
            $('#datepicker').attr('value', moment(date).format('YYYY-MM-DD'));
            $('.datepicker').hide();
        });

        //turn to popup mode
        $.fn.editable.defaults.mode = 'popup';
        $(document).ready(function() {
            $('.editable').editable({
                error: function(response, newValue) {
                    if (response.status === 500) {
                        return 'Terjadi error, gagal update data.';
                    }
                 }
            });
            $('.tugas').editable({
                prepend: "pilih",
                source: [
                    {value: 'Koordinator', text: 'Koordinator'},
                    {value: 'Keamanan', text: 'Keamanan'},
                    {value: 'Pemantauan', text: 'Pemantauan'},
                    {value: 'Operasi', text: 'Operasi'},
                    {value: 'Pemeliharaan', text: 'Pemeliharaan'}
                ]
            });
        });
    });
</script>
{% endblock %}
