{% extends 'master/base_adm.html' %}

{% set title = "Petugas" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
<style>
    .datepicker {
        z-index: 10000 !important;
        display: inherit;
    }
    .prev:before {
        content: "\2190 ";
    }
    .next:before {
        content: "\2192 ";
    }
</style>
<link href="{{ url_for('static', filename='css/bootstrap-editable.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            Kinerja Petugas Bendungan
        </h1>
        <div class="sticky-top pt-2" style="background-color: white; width: 100%">
            <h4>
                <a href="#">
                    <i class="fas fa-calendar"></i> <span id="tgl">{{ sampling }}</span>
                </a>
            </h4>
            <div class="form-group">
                <input type="text" class="form-control" id="search" placeholder="Cari Bendungan">
            </div>
            <hr>
        </div>
        <div class="row pr-3 pl-3">
            {% for id, d in data.items() %}
            <div class="card border-secondary mb-3 mr-1 flex-grow-1" style="width: auto;" id="bendungan">
                <div class="card-header">
                  <h5 class="d-inline">
                      <b><span class="nama" id="nama">{{ d.nama }}</span></b>
                  </h5>
                  <span class="d-inline float-right">
                      <!-- <a href="#" class="btn btn-sm btn-outline-primary"><i class="fa fa-download"></i></a> -->
                      <a href="{{ url_for('admin.petugas_bendungan_chart', bendungan_id=d.bend_id) }}" class="btn btn-sm btn-outline-primary"><i class="fas fa-chart-bar"></i></a>
                  </span>
                </div>
                <div class="card-body">
                    {% if d.is_empty %}
                    <b>Tidak Ada Petugas</b>
                    {% else %}
                    <i class="fa fa-user"></i>
                    <b>Koordinator</b><br>
                    <ul>
                        <li>
                            <a href="{{ url_for('admin.petugas_bendungan_kinerja_detail',
                                        sampling=sampling.strftime('%Y-%m-%d'),
                                        petugas_id=d.koordinator.id,
                                        bendungan_id=d.bend_id) }}">{{ d.koordinator.nama }}</a>
                            :
                            {% with nilai, maks, ket = d.koordinator.get_kinerja_summary(sampling) %}
                            {% if nilai %}
                                <a href="{{ url_for('admin.petugas_bendungan_kinerja_detail',
                                            sampling=sampling.strftime('%Y-%m-%d'),
                                            petugas_id=d.koordinator.id,
                                            bendungan_id=d.bend_id) }}">{{ nilai }}</a>
                                <span class="badge badge-pill" style="background-color: {{ badge_color[ket] }};">{{ ket }}</span>
                                <!-- <i class="fas fa-pen"></i> -->
                            {% else %}
                                <a data-toggle="modal" href="#form-nilai-{{ d.koordinator.id }}" role="button" aria-expanded="false" aria-controls="form-nilai-{{ d.koordinator.id }}">
                                  <i class="fas fa-pen"></i>
                                </a>

                                <!-- Modal Penilaian -->
                                <div class="modal fade" id="form-nilai-{{ d.koordinator.id }}" tabindex="-1" role="dialog" aria-labelledby="form-nilai-{{ d.koordinator.id }}" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <form action="{{ url_for('admin.petugas_bendungan_kinerja_add') }}" method="post">
                                          <input id="sampling" name="sampling" type="hidden" value="{{ sampling.strftime('%Y-%m') }}">
                                          <input id="petugas_id" name="petugas_id" type="hidden" value="{{ d.koordinator.id }}">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="form-nilai-{{ d.koordinator.id }}">{{ d.koordinator.nama }} ({{ d.koordinator.bendungan.name }})</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                              <h6><b>SIKAP KERJA</b></h6>
                                              {% for k in komponen['all'] %}
                                              <div class="form-group">
                                                  <label class="form-text" for="komponen-{{ k.id }}"><i>{{ k.deskripsi }}</i></label>
                                                  <input class="form-control" type="number" name="komponen-{{ k.id }}" id="komponen-{{ k.id }}" step="0.1" aria-describedby="kinerjahelp">
                                                  <small id="kinerjahelp" class="form-text text-muted">Input Maksimal = {{ k.input_max }}</small>
                                              </div>
                                              {% endfor %}
                                              <hr>
                                              <h6><b>KINERJA PELAYANAN</b></h6>
                                              <p><b>Koordinator</b></p>
                                              {% for k in komponen[d.koordinator.tugas.lower().strip()] %}
                                              <div class="form-group">
                                                  <label class="form-text" for="komponen-{{ k.id }}"><i>{{ k.deskripsi }}</i></label>
                                                  <input class="form-control" type="number" name="komponen-{{ k.id }}" id="komponen-{{ k.id }}" step="0.1" aria-describedby="kinerjahelp">
                                                  <small id="kinerjahelp" class="form-text text-muted">Input Maksimal = {{ k.input_max }}</small>
                                              </div>
                                              {% endfor %}
                                          </div>
                                          <div class="modal-footer">
                                              <!-- <input type="button" value="Kirim" onclick="" class="btn btn-primary"> -->
                                              <input type="submit" name="submit" value="Kirim" class="btn btn-primary">
                                              <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                                          </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                            {% endif %}
                            {% endwith %}
                        </li>
                    </ul>
                    {% for t, petugas in d.petugas.items() %}
                        {% if petugas %}
                        <i class="fa fa-user"></i>
                        <b>{{ t.title() }}</b><br>
                        <ul>
                            {% for p in petugas %}
                            <li>
                                <a href="{{ url_for('admin.petugas_bendungan_kinerja_detail',
                                            sampling=sampling.strftime('%Y-%m-%d'),
                                            petugas_id=p.id,
                                            bendungan_id=d.bend_id) }}">{{ p.nama }}</a>
                                :
                                {% with nilai, maks, ket = p.get_kinerja_summary(sampling) %}
                                {% if nilai %}
                                    <a href="{{ url_for('admin.petugas_bendungan_kinerja_detail',
                                                sampling=sampling.strftime('%Y-%m-%d'),
                                                petugas_id=p.id,
                                                bendungan_id=d.bend_id) }}">{{ nilai }}</a>
                                    <span class="badge badge-pill" style="background-color: {{ badge_color[ket] }};">{{ ket }}</span>
                                    <!-- <i class="fas fa-pen"></i> -->
                                {% else %}
                                    <a data-toggle="modal" href="#form-nilai-{{ p.id }}" role="button" aria-expanded="false" aria-controls="form-nilai-{{ p.id }}">
                                      <i class="fas fa-pen"></i>
                                    </a>

                                    <!-- Modal Penilaian -->
                                    <div class="modal fade" id="form-nilai-{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="form-nilai-{{ p.id }}" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <form action="{{ url_for('admin.petugas_bendungan_kinerja_add') }}" method="post">
                                              <input id="sampling" name="sampling" type="hidden" value="{{ sampling.strftime('%Y-%m') }}">
                                              <input id="petugas_id" name="petugas_id" type="hidden" value="{{ p.id }}">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="form-nilai-{{ p.id }}">{{ p.nama }} ({{ p.bendungan.name }})</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                  <h6><b>SIKAP KERJA</b></h6>
                                                  {% for k in komponen['all'] %}
                                                  <div class="form-group">
                                                      <label class="form-text" for="komponen-{{ k.id }}"><i>{{ k.deskripsi }}</i></label>
                                                      <input class="form-control" type="number" name="komponen-{{ k.id }}" id="komponen-{{ k.id }}" step="0.1" aria-describedby="kinerjahelp">
                                                      <small id="kinerjahelp" class="form-text text-muted">Input Maksimal = {{ k.input_max }}</small>
                                                  </div>
                                                  {% endfor %}
                                                  <hr>
                                                  <h6><b>KINERJA PELAYANAN</b></h6>
                                                  <p><b>{{ p.tugas.title().strip() }}</b></p>
                                                  {% for k in komponen[p.tugas.lower().strip()] %}
                                                  <div class="form-group">
                                                      <label class="form-text" for="komponen-{{ k.id }}"><i>{{ k.deskripsi }}</i></label>
                                                      <input class="form-control" type="number" name="komponen-{{ k.id }}" id="komponen-{{ k.id }}" step="0.1" aria-describedby="kinerjahelp">
                                                      <small id="kinerjahelp" class="form-text text-muted">Input Maksimal = {{ k.input_max }}</small>
                                                  </div>
                                                  {% endfor %}
                                              </div>
                                              <div class="modal-footer">
                                                  <!-- <input type="button" value="Kirim" onclick="" class="btn btn-primary"> -->
                                                  <input type="submit" name="submit" value="Kirim" class="btn btn-primary">
                                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                                              </div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                {% endif %}
                                {% endwith %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- <a data-url="{{ url_for('admin.petugas_update') }}"
            class="editable"
            data-name="nama"
            data-type="text"
            data-title="Nama"
            data-pk="1">

        </a> -->
    </div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/id.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script>
    $(document).ready(function() {
        // resolve package confict
        let datepicker = $.fn.datepicker.noConflict();
        $.fn.bootstrapDP = datepicker;

        $('#tgl').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            startView: "months",
            minViewMode: "months",
            // todayHighlight: false
        });
        $('#tgl').on('changeDate', function () {
            window.location = "{{ url_for('admin.petugas_bendungan_kinerja') }}?sampling=" + $('#tgl').datepicker('getFormattedDate')
        });

        let tgls = document.querySelectorAll("#tgl");
        tgls.forEach(function(el){
            console.log(el.value);
            el.innerText = moment(el.innerText).format('MMMM YYYY');
        });

        $('#search').on('keyup change', function() {
            let query = this.value;
            let bends = document.querySelectorAll("#bendungan");
            bends.forEach(function(el){
                let nama = el.querySelector("#nama").innerHTML;
                nama = nama.toLowerCase()
                console.log(query);
                if (!nama.includes(query)) {
                    el.style.display = "none";
                } else {
                    el.style.display = "block";
                }
            });
        });

        //turn to popup mode
        $.fn.editable.defaults.mode = 'popup';
        $(document).ready(function() {
            $('.editable').editable({
                error: function(response, newValue) {
                    if (response.status === 500) {
                        return 'Terjadi error, gagal update data.';
                    }
                 }
            });
            $('.tugas').editable({
                prepend: "pilih",
                source: [
                    {value: 'Koordinator', text: 'Koordinator'},
                    {value: 'Keamanan', text: 'Keamanan'},
                    {value: 'Pemantauan', text: 'Pemantauan'},
                    {value: 'Operasi', text: 'Operasi'},
                    {value: 'Pemeliharaan', text: 'Pemeliharaan'}
                ]
            });
        });
    });
</script>
{% endblock %}
