{% extends 'master/base_adm.html' %}

{% set title = "Kegiatan" %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<style>
    .datepicker {
        z-index: 10000 !important;
        display: inherit;
    }
</style>
<link href="{{ url_for('static', filename='css/bootstrap-editable.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div>
        <h1>Kegiatan {{ name }}</h1><br>
        <div class="forms">
            <div class="row">
                <div class="col-md-6">
                    <h5>
                      <a data-toggle="collapse" href="#rencana" role="button" aria-expanded="false" aria-controls="rencana">
                        Form Rencana <small><i class="fas fa-play"></i></small>
                      </a>
                    </h5>
                    <form action="{{ url_for('admin.kegiatan_embung_add', embung_id=emb_id) }}" method="POST">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="collapse" id="rencana">
                          <div class="form-group">
                              <label class="form-text" for="sampling"><b>Tanggal</b></label>
                              <input class="form-control" type="text" name="sampling" id="datepicker-rencana" hidden required value="{{ sampling.strftime('%Y-%m-%d') }}">
                              <i class="fas fa-calendar d-inline"></i>
                              <p class="ml-2 d-inline" id="sampling-rencana">{{ sampling.strftime('%d %B %Y') }}</p>
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="lokasi"><b>Lokasi</b></label>
                              <input type="text" name="lokasi" class="form-control" placeholder="Tampungan sebelah timur laut">
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="kegiatan"><b>Kegiatan</b></label>
                              <input type="text" name="kegiatan" class="form-control" placeholder="Babat Rumput">
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="luas"><b>Luas</b></label>
                              <div class="input-group">
                                  <input class="form-control" type="number" name="luas" id="luas" placeholder="contoh:200" step="0.1" required>
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="satuan">m<sup>2</sup></span>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <button type="submit" name="submit" class="btn btn-primary my-1 mr-2">Kirim</button>
                              <a data-toggle="collapse" href="#rencana" role="button" aria-expanded="false" aria-controls="rencana">batal</a>
                          </div>
                        </div>
                    </form>
                    <br>
                </div>
                <div class="col-md-6">
                    <h5>
                      <a data-toggle="collapse" href="#pemeliharaan" role="button" aria-expanded="false" aria-controls="pemeliharaan">
                        Laporan Pencapaian <small><i class="fas fa-play"></i></small>
                      </a>
                    </h5>
                    <!-- <form method="POST"> -->
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="collapse" id="pemeliharaan">
                          <div class="form-group">
                              <label class="form-text" for="sampling"><b>Tanggal</b></label>
                              <input class="form-control" type="text" name="sampling" id="datepicker-pencapaian" hidden required value="{{ sampling.strftime('%Y-%m-%d') }}">
                              <i class="fas fa-calendar d-inline"></i>
                              <p class="ml-2 d-inline" id="sampling-pencapaian">{{ sampling.strftime('%d %B %Y') }}</p>
                          </div>
                          <div>
                              <label class="form-text"><b>Jam Kerja</b></label>
                          </div>
                          <div class="form-group row">
                              <div class="col-md-6">
                                  Mulai
                              </div>
                              <div class="col-md-6">
                                  Selesai
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="pencapaian"><b>Pencapaian Kerja</b></label>
                              <input type="text" name="pencapaian" class="form-control" placeholder="Tercapai 100%">
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="kendala"><b>Kendala</b></label>
                              <input type="text" name="kendala" class="form-control" placeholder="Tidak Ada">
                          </div>
                          <div>
                              <label><b>Foto</b></label>
                          </div>
                          <div class="form-group">
                              <label for="foto_0"><b>0 %</b></label>
                              <input type="file" class="form-control-file" id="foto_0" name="foto_0">
                              <div>
                                  <img id="blah" src="{{ url_for('static', filename='images/null.jpg') }}" alt="gambar disini">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="foto_50"><b>50 %</b></label>
                              <input type="file" class="form-control-file" id="foto_50" name="foto_50">
                              <div>
                                  <img id="blah" src="{{ url_for('static', filename='images/null.jpg') }}" alt="gambar disini">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="foto_100"><b>100 %</b></label>
                              <input type="file" class="form-control-file" id="foto_100" name="foto_100">
                              <div>
                                  <img id="blah" src="{{ url_for('static', filename='images/null.jpg') }}" alt="gambar disini">
                              </div>
                          </div>
                          <div>
                              <button type="submit" name="submit" onclick="uploadlaporan()" class="btn btn-primary my-1 mr-2">Kirim</button>
                              <a data-toggle="collapse" href="#pemeliharaan" role="button" aria-expanded="false" aria-controls="pemeliharaan" onclick="srcnull()">batal</a>
                          </div>
                        </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
        <br>
        <h3>
            Bulan
            <span id="datepicker" style="color: #18bc9c"><i class="fa fa-calendar"></i> {{ sampling_dt.strftime('%B %Y') }}</span>
        </h3>
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-active">
                    <th class="text-center align-middle">Tanggal</th>
                    <th class="text-center align-middle">Kegiatan</th>
                    <th class="text-center align-middle">Foto</th>
                </tr>
            </thead>
            <tbody>
                {% for date, keg in kegiatan.items() %}
                <tr>
                    <td rowspan="{{ keg.length or 1 }}">
                        <span id="tgl">{{ date.strftime("%Y-%m-%d") }}</span>
                    </td>
                    {% if keg.kegiatan %}
                      <td>{{ keg.kegiatan.0.uraian }}</td>
                      <td align="center">
                          {% if user.embung_id == emb_id %}
                              <!-- delete button -->
                              <button id="no-print" class="btn btn-danger btn-sm" style="float: right;" onclick="delete_foto({{ keg.kegiatan.0.id }}, {{ keg.kegiatan.0.foto.id }}, '{{ keg.kegiatan.0.foto.url }}')">Hapus</button>
                          {% endif %}
                          <img src="{{ url_for('static', filename=keg.kegiatan.0.foto.url[7:]) }}" style="width: 30%; height: auto;">
                      </td>
                    {% else %}
                        <td colspan="2" class="text-center">Tidak Ada Laporan</td>
                    {% endif %}
                </tr>
                  {% for k in keg.kegiatan %}
                      {% if loop.index > 1 %}
                      <tr>
                          <td>{{ k.uraian }}</td>
                          <td align="center">
                              {% if user.embung_id == emb_id %}
                                  <!-- delete button -->
                                  <button id="no-print" class="btn btn-danger btn-sm" style="float: right;" onclick="delete_foto({{ k.id }}, {{ k.foto.id }}, '{{ k.foto.url }}')">Hapus</button>
                              {% endif %}
                              <img src="{{ url_for('static', filename=k.foto.url[7:]) }}" style="width: 30%; height: auto;">
                          </td>
                      </tr>
                      {% endif %}
                  {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/id.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/MinifyJpegAsync.js') }}"></script>
<script>
    $(document).ready(function() {
        // resolve package confict
        let datepicker = $.fn.datepicker.noConflict();
        $.fn.bootstrapDP = datepicker;

        $('#datepicker').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            startView: "months",
            minViewMode: "months"
        });
        $('#datepicker').on('changeDate', function () {
            window.location = "{{ url_for('admin.kegiatan_embung', embung_id=emb_id) }}?sampling=" + $('#datepicker').datepicker('getFormattedDate')
        });

        $('#sampling-kegiatan').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#sampling-kegiatan').on('changeDate', function () {
            let date = $('#sampling-kegiatan').datepicker('getFormattedDate');
            $('#sampling-kegiatan').text(moment(date).format('DD MMMM YYYY'));
            $('#datepicker_kegiatan').attr('value', moment(date).format('YYYY-MM-DD'));
            $('.datepicker').hide();
        });

        let tgls = document.querySelectorAll("#tgl");
        tgls.forEach(function(el){
            console.log(el.value);
            el.innerText = moment(el.innerText).format('ddd, D');
        });

        //turn to popup mode
        $.fn.editable.defaults.mode = 'popup';
        $(document).ready(function() {
            $('.editable').editable({
                error: function(response, newValue) {
                    if(response.status === 500) {
                        return 'Tidak bisa update, Tambah data pakai form.';
                    }
                 },
            });
        });

        $('select[name="petugas"]').change(function () {
            if ($('input#foto')[0].files && ($('input#foto')[0].files.length > 0)) {
                $('input[name="submit"]').removeClass('disabled');
            };
            console.log(this.value);
        });

        $('#foto').on('change', function(event) {
            console.log("Input Change Detected");
            readURL(event);
        });
    });

    let enc_img = '';
	let file_name = '';
	function readURL(event) {
        let f = event.target.files[0];
		file_name = f.name;
        let reader = new FileReader();

        reader.onloadend = function(e){
            console.log(`onload function called, parameter : ${e}`);
			MinifyJpegAsync.minify(e.target.result, 1280, function(data) {
				enc_img = "data:image/jpeg;base64," + btoa(data);
				let img = new Image();
				img.src = enc_img;

				document.getElementById('blah').src = enc_img;
				console.log('Hasil proses minify') ;
			});
        };  // (function(theFile))(f)
		reader.readAsDataURL(f);
    };

    function go_upload() {
        if($('select[name="petugas"]').val() == 'Tidak Ada'){
            alert('Pilih petugas');
            $('select[name="petugas"]').focus();
        } else if ($('#blah').attr('src') == "{{ url_for('static', filename='img/null.jpg') }}"){
            alert('Pilih foto terlebih dahulu');
        } else if ($('input[name="keterangan"]').val() == ''){
            alert('Harap masukkan keterangan foto kegiatan');
            $('input[name="keterangan"]').focus();
        } else {
            let fields = 'keterangan_waktu'.split('_');
            let formData = {
                csrf_token: '{{ csrf }}',
                foto: enc_img,
                filename: file_name,
                keterangan: $('input[name="keterangan"]').val(),
                sampling: $('input[name="sampling"]').val(),
                petugas: $('select[name="petugas"]').val().toLowerCase()
            };
            console.log("Posting Photo");
            console.log(formData);
            $.post("{{ url_for('admin.kegiatan_embung_add', embung_id=emb_id) }}", formData,
                function (res) {
                    console.log(res);
                    location.reload();
                }
            );
        }
    }

    function srcnull(){
    	$('#fotoFile').val('');
    	$('#blah').attr('src', "{{ url_for('static', filename='img/null.jpg') }}");
    	$('input[name="keterangan"]').val('');
    	$('select[name="petugas"]').val("Tidak Ada").change();
    	$('#form-kegiatan').collapse('hide');
    }
</script>
{% endblock %}
