.git
__pycache__
*/__pycache__
.env
svelte/node_modules
svelte/.svelte-kit
svelte/build
vite/node_modules
venv
upb_app/static/images/struktur_org.png
upb_app/static/images/profil.jpg
upb_app/static/img/foto/*
test.db
telegram_token*
requirements.txt
docker-compose.yml
upbdb_backup.sql
mad_admin.txt
