{% extends 'master/base.html' %}

{% block css %}
<style>
    .section {
        margin-bottom: 60px;
    }
    .each_bd {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="row section">
    <div class="col-md-6"><p><b>Status: {{ tgl.strftime('%d %b %Y') }}</b></p>
        <h3>Volume Total</h3>
        <p><small class="text-muted">(Juta M<sup>3</sup>)</small></p>
        <canvas id="pieChart"></canvas>
    </div>
    <div class="col-md-3">
        <p>&nbsp;</p>
        <h3>Outflow </h3>
        <p><small class="text-muted">(M<sup>3</sup>/detik)</small></p>
        <table class="table">
            <tr><td>Rencana (RTOW)</td><td class="text-right">{{ rtow.outflow }}</td></tr>
            <tr><td>Realisasi</td><td class="text-right">{{ real.outflow }}</td></tr>
        </table>
    </div>
    <div class="col-md-3">
        <p>&nbsp;</p>
        <h3>Inflow</h3>
        <p> <small class="text-muted">(M<sup>3</sup>/detik)</small></p>
        <table class="table">
            <tr><td>Rencana (RTOW)</td><td class="text-right">{{ rtow.inflow }}</td></tr>
            <tr><td>Realisasi</td><td class="text-right">{{ real.inflow }}</td></tr>
        </table>
    </div>
</div><hr>
<div class="row">
    <div class="col-md">
        <h3>Volume per Bendungan

        </h3>
    </div>
</div>
<div class="row section">
    <div class="col-md-4">
        <h4>
            Hulu
            <small class="text-muted">[<a href="#/" onClick="toggleEachBd('wil_1')" id="wil_1_title">lihat</a>]</small>
        </h4>
        <div class="overflow-auto" id="wil_1" style="max-height: 600px; display: none;">

        </div>
    </div>
    <div class="col-md-4">
        <h4>
            Madiun
            <small class="text-muted">[<a href="#/" onClick="toggleEachBd('wil_2')" id="wil_2_title">lihat</a>]</small>
        </h4>
        <div class="overflow-auto" id="wil_2" style="max-height: 600px; display: none;">

        </div>
    </div>
    <div class="col-md-4">
        <h4>
            Hilir
            <small class="text-muted">[<a href="#/" onClick="toggleEachBd('wil_3')" id="wil_3_title">lihat</a>]</small>
        </h4>
        <div class="overflow-auto" id="wil_3" style="max-height: 600px; display: none;">

        </div>
    </div>
</div><hr>
<div class="row">
    <div class="col"><h3>Kegiatan</h3></div>
</div>
<div class="row section">
    {% for gal in gallery %}
    <div class="col-md-3 align-middle pt-1 pb-1">
        <a data-toggle="modal" href="#gallery-scroll"
            role="button" aria-expanded="false"
            class="card-link" onclick="openGallery({{ gal.id }})">
            <img class="img-fluid" id="foto-{{ gal.id }}" src="{{ url_for('static', filename=gal.url[7:]) }}" alt="NO IMAGE" style="width: 100%; height: auto;">
        </a>
    </div>

        {% if loop.index % 4 == 0 %}
        </div>
        <div class="row">
        {% endif %}

    {% endfor %}
</div>

    <!-- MODAL + CAROUSEL -->
    <div class="modal fade" id="gallery-scroll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gallery_name">Galeri Kegiatan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for gal in gallery %}
                    <div class="carousel-item" id="img-show-{{ gal.id }}" name="img-show">
                        <img class="img-fluid w-100" src="{{ url_for('static', filename=gal.url[7:]) }}" id="foto-modal-show">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<br>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    function add(accumulator, a) {
        return accumulator + a;
    }

    function toggleEachBd(divId) {
        var x = document.getElementById(divId);
        var title = document.getElementById(`${divId}_title`);

        if (x.style.display === 'none') {
            x.style.display = "block";
            title.innerHTML = "tutup";
        } else {
            x.style.display = 'none';
            title.innerHTML = "lihat";
        }
    }

    var volumeData = [
        ["RTOW", {{ rtow.volume }}],
        ["Realisasi", {{ real.volume }}],
        ["Potensial", {{ vol_potensi }}]
    ];
    volumeData = volumeData.sort(function (a, b) {
        return a[1] - b[1];
    });

    var xValues = [];
    var yValues = [];
    var barColors = [];
    Object.values(volumeData).forEach(function(val, idx, arr) {
        volEach = val[1];
        // if (idx - 1 >= 0) {
        //     volEach -= arr[idx - 1][1];
        // }
        // yValues.push(volEach);

        if (val[0] == "Potensial") {
            yValues.push(volEach - arr[idx - 1][1]);
            xValues.push("Potensial");
            barColors.push("#eee");
        }
        else if (val[0] == "Realisasi") {
            yValues.push(volEach);
            xValues.push("Realisasi");
            barColors.push("#0277bd");
        }
        else if (val[0] == "RTOW") {
            yValues.push(volEach);
            xValues.push("RTOW");
            barColors.push("aqua");
        }
        else {
            yValues.push(volEach);
            xValues.push("TBA");
            barColors.push("white");
        }
    });

    var allChart = new Chart("pieChart", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          borderColor: "#aaa",
          borderWidth: 1,
          data: yValues
        }]
      },
      options: {
        //borderAlign: 'inner',
        showAllTooltips: true,
        title: {
          display: true,
          text: "Rencana & Realisasi Volume Bendungan",
          fontColor: "#888",
          fontSize: 16,
          fontStyle: 'normal'
        },
        legend: {
            display: false,
            position: 'left',
            labels: {
                fontColor: "black",
                boxWidth: 30,
                padding: 30
            }
        },
        tooltips: {
            enabled: false,
            callbacks: {
                label: function(tooltipItem, data) {
                    var dataset = data.datasets[tooltipItem.datasetIndex];
                    var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                        return previousValue + currentValue;
                    });
                    // var currentValue = dataset.data[tooltipItem.index];
                    var currentValue = parseFloat(volumeData[tooltipItem.index][1]/1000000).toFixed(2);
                    var percentage = parseFloat((currentValue/total) * 100).toFixed(2);

                    var name = data.labels[tooltipItem.index];
                    var formattedValue = (currentValue).toLocaleString(
                        undefined,
                        { minimumFractionDigits: 2 }
                    );

                    return `${name} : ${formattedValue} Juta M<sup>3</sup>`;
                }
            }
        },
        events: false,
        animation: {
            duration: 500,
            easing: "easeOutQuart",
            onComplete: function () {
              var ctx = this.chart.ctx;
              ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
              ctx.textAlign = 'center';
              ctx.textBaseline = 'bottom';

              var labels = this.data.labels
              this.data.datasets.forEach(function (dataset) {

                for (var i = 0; i < dataset.data.length; i++) {
                  var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
                      total = dataset._meta[Object.keys(dataset._meta)[0]].total,
                      mid_radius = model.innerRadius + (model.outerRadius - model.innerRadius)/2,
                      start_angle = model.startAngle,
                      end_angle = model.endAngle,
                      mid_angle = start_angle + (end_angle - start_angle)/2;

                  var x = mid_radius * Math.cos(mid_angle);
                  var y = mid_radius * Math.sin(mid_angle);

                  ctx.fillStyle = '#222';
                  ctx.fillText(labels[i], model.x + x, model.y + y);
                  ctx.fillText(parseFloat(dataset.data[i]/1000000).toFixed(2), model.x + x, model.y + y + 15);
                }
              });
            }
        }
      }
    });

    var wil_col = {'1': document.getElementById('wil_1'),
    '2': document.getElementById('wil_2'),
    '3': document.getElementById('wil_3')};
    fetch('/api/bendungan/volume')
        .then(response => response.json())
        .then(data => {
            data.forEach(function(bend, idx, bendungan) {
                var volumeData = [
                    ["Realisasi", bend['volume_real']],
                    ["Potensial", bend['volume_potensial']]
                ];
                var canv_el = document.createElement('canvas');
                canv_el.setAttribute('id', `pieChart-${idx}`);
                wil_col[`${bend.wil}`].appendChild(canv_el);
                wil_col[`${bend.wil}`].appendChild(document.createElement("HR"));
                // volumeData = volumeData.sort(function (a, b) {
                //     return a[1] - b[1];
                // });

                var xValues = [];
                var yValues = [];
                var barColors = [];
                Object.values(volumeData).forEach(function(val, idx2, arr) {
                    volEach = val[1];
                    if (idx2 - 1 >= 0) {
                        volEach -= arr[idx2 - 1][1];
                    }
                    yValues.push(volEach);

                    if (val[0] == "Potensial") {
                        xValues.push("Kap. Tampungan");
                        barColors.push("#eee");
                    } else if (val[0] == "Realisasi") {
                        xValues.push("Vol saat ini");
                        barColors.push("#0277bd");
                    } else if (val[0] == "RTOW") {
                        xValues.push("RTOW");
                        barColors.push("aqua");
                    } else {
                        xValues.push("TBA");
                        barColors.push("white");
                    }
                });

                new Chart(`pieChart-${idx}`, {
                  type: "pie",
                  data: {
                    labels: xValues,
                    datasets: [{
                      backgroundColor: barColors,
                      borderColor: "black",
                      borderWidth: 0,
                      data: yValues
                    }]
                  },
                  options: {
                        showAllTooltips: true,
                        title: {
                          display: true,
                          text: `${bend.name}`,
                        },
                        subtitle: {
                            display: true,
                            text: 'anu',
                        },
                        legend: {
                            display: false,
                            position: 'right',
                            labels: {
                                fontColor: "black",
                                boxWidth: 30,
                                padding: 30,
                            }
                        },
                        tooltips: {
                            enabled: false,
                            callbacks: {
                                label: function(tooltipItem, data) {
                                    var dataset = data.datasets[tooltipItem.datasetIndex];
                                    var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                                        return previousValue + currentValue;
                                    });
                                    var currentValue = dataset.data[tooltipItem.index];
                                    var percentage = parseFloat((currentValue/total) * 100).toFixed(2);

                                    var name = data.labels[tooltipItem.index];

                                    return `${name} : ${percentage} %`;
                                }
                            }
                        },
                        events: false,
                        animation: {
                            duration: 500,
                            easing: "easeOutQuart",
                            onComplete: function () {
                              var ctx = this.chart.ctx;
                              ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
                              ctx.textAlign = 'center';
                              ctx.textBaseline = 'bottom';

                              var labels = this.data.labels
                              this.data.datasets.forEach(function (dataset) {

                                for (var i = 0; i < dataset.data.length; i++) {
                                  var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
                                      total = dataset._meta[Object.keys(dataset._meta)[0]].total,
                                      mid_radius = model.innerRadius + (model.outerRadius - model.innerRadius)/2,
                                      start_angle = model.startAngle,
                                      end_angle = model.endAngle,
                                      mid_angle = start_angle + (end_angle - start_angle)/2;

                                  var x = mid_radius * Math.cos(mid_angle);
                                  var y = mid_radius * Math.sin(mid_angle);

                                  ctx.fillStyle = '#444';
                                  var percent = String(Math.round(dataset.data[i]/total*100)) + "%";
                                  ctx.fillText(labels[i], model.x + x, model.y + y);
                                  ctx.fillText(percent, model.x + x, model.y + y + 15);
                                }
                              });
                            }
                        }
                    }
                });
            });
        });
    function clearActive(){
        document.getElementsByName("img-show").forEach(function (el) {
            el.classList.remove("active");
        });
    }

    function openGallery(img_id) {
        console.log("Opening Gallery");
        clearActive();
        document.getElementById(`img-show-${ img_id }`).classList.add("active");
    }
</script>
{% endblock %}
