{% extends 'master/base_adm.html' %}

{% set title = "Bendungan" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/bootstrap-editable.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Bendungan</h1>
        <h3>Data Teknis</h3>
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-active">
                    <th rowspan="2" class="text-center align-middle">No</th>
                    <th rowspan="2" class="text-center align-middle">Nama</th>
                    <th rowspan="2" class="text-center align-middle">Kab</th>
                    <th rowspan="2" class="text-center align-middle">Tampungan (m<sup>3</sup>)</th>
                    <th rowspan="2" class="text-center align-middle">Irigasi (Ha)</th>
                    <th rowspan="2" class="text-center align-middle">Elev Puncak (m)</th>
                    <th rowspan="2" class="text-center align-middle">MAB (m)</th>
                    <th rowspan="2" class="text-center align-middle">MAN (m)</th>
                    <th rowspan="2" class="text-center align-middle">MAMin (m)</th>
                    <th rowspan="2" class="text-center align-middle">Elev Awas (m)</th>
                    <th rowspan="2" class="text-center align-middle">Elev Siaga (m)</th>
                    <th rowspan="2" class="text-center align-middle">Elev Waspada (m)</th>
                    <th colspan="2" class="text-center align-middle">VNotch</th>
                </tr>
                <tr class="table-active">
                    <th class="text-center align-middle">Panjang Saluran (m)</th>
                    <th class="text-center align-middle">Batas Rembesan (L/dt)</th>
                </tr>
            </thead>
            <tbody>
                {% for wil_s, data in bends.items() %}
                    <tr>
                        <td colspan="14" class="text-center"><b>{{ wil_sungai[wil_s] }}</b></td>
                    </tr>
                    {% for i, bend in data.items() %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ bend.name }}</td>
                            <td>
                                <a data-url="/admin/bendungan/update"
                                    class="editable"
                                    data-name="kab"
                                    data-type="text"
                                    data-title="{{ nama }}, Kab"
                                    data-pk="{{ bend.id }}">
                                    <span style="color: blue">{{ bend.kab }}</span>
                                </a>
                            </td>
                            <td class="text-right">
                                <a data-url="/admin/bendungan/update"
                                    class="editable"
                                    data-name="volume"
                                    data-type="number"
                                    data-title="{{ nama }}, Tampungan"
                                    data-step=".01"
                                    data-pk="{{ bend.id }}">
                                    {% if bend.volume %}
                                    <span style="color: blue">{{ bend.volume }}</span>
                                    {% else %}<span style="color: red">Empty</span>{% endif %}
                                </a>
                            </td>
                            <td class="text-right">
                                <a data-url="/admin/bendungan/update"
                                    class="editable"
                                    data-name="lbi"
                                    data-type="number"
                                    data-title="{{ nama }}, Irigasi"
                                    data-step=".01"
                                    data-pk="{{ bend.id }}">
                                    {% if bend.lbi %}
                                    <span style="color: blue">{{ bend.lbi }}</span>
                                    {% else %}<span style="color: red">Empty</span>{% endif %}
                                </a>
                            </td>
                            <td class="text-right">
                                <a data-url="/admin/bendungan/update"
                                    class="editable"
                                    data-name="elev_puncak"
                                    data-type="number"
                                    data-title="{{ nama }}, Elev Puncak"
                                    data-step=".01"
                                    data-pk="{{ bend.id }}">
                                    {% if bend.elev_puncak %}
                                    <span style="color: blue">{{ bend.elev_puncak }}</span>
                                    {% else %}<span style="color: red">Empty</span>{% endif %}
                                </a>
                            </td>
                            <td class="text-right">
                                <a data-url="/admin/bendungan/update"
                                    class="editable"
                                    data-name="muka_air_max"
                                    data-type="number"
                                    data-title="{{ nama }}, MAB"
                                    data-step=".01"
                                    data-pk="{{ bend.id }}">
                                    {% if bend.muka_air_max %}
                                    <span style="color: blue">{{ bend.muka_air_max }}</span>
                                    {% else %}<span style="color: red">Empty</span>{% endif %}
                                </a>
                            </td>
                            <td class="text-right">
                                <a data-url="/admin/bendungan/update"
                                    class="editable"
                                    data-name="muka_air_normal"
                                    data-type="number"
                                    data-title="{{ nama }}, MAN"
                                    data-step=".01"
                                    data-pk="{{ bend.id }}">
                                    {% if bend.muka_air_normal %}
                                    <span style="color: blue">{{ bend.muka_air_normal }}</span>
                                    {% else %}<span style="color: red">Empty</span>{% endif %}
                                </a>
                            </td>
                            <td class="text-right">
                                <a data-url="/admin/bendungan/update"
                                    class="editable"
                                    data-name="muka_air_min"
                                    data-type="number"
                                    data-title="{{ nama }}, MAMin"
                                    data-step=".01"
                                    data-pk="{{ bend.id }}">
                                    {% if bend.muka_air_min %}
                                    <span style="color: blue">{{ bend.muka_air_min }}</span>
                                    {% else %}<span style="color: red">Empty</span>{% endif %}
                                </a>
                            </td>
                            <td class="text-right">
                                <a data-url="/admin/bendungan/update"
                                    class="editable"
                                    data-name="bts_elev_awas"
                                    data-type="number"
                                    data-title="{{ nama }}, Elev Awas"
                                    data-step=".01"
                                    data-pk="{{ bend.id }}">
                                    {% if bend.bts_elev_awas %}
                                    <span style="color: blue">{{ bend.bts_elev_awas }}</span>
                                    {% else %}<span style="color: red">Empty</span>{% endif %}
                                </a>
                            </td>
                            <td class="text-right">
                                <a data-url="/admin/bendungan/update"
                                    class="editable"
                                    data-name="bts_elev_siaga"
                                    data-type="number"
                                    data-title="{{ nama }}, Elev Siaga"
                                    data-step=".01"
                                    data-pk="{{ bend.id }}">
                                    {% if bend.bts_elev_siaga %}
                                    <span style="color: blue">{{ bend.bts_elev_siaga }}</span>
                                    {% else %}<span style="color: red">Empty</span>{% endif %}
                                </a>
                            </td>
                            <td class="text-right">
                                <a data-url="/admin/bendungan/update"
                                    class="editable"
                                    data-name="bts_elev_waspada"
                                    data-type="number"
                                    data-title="{{ nama }}, Elev Waspada"
                                    data-step=".01"
                                    data-pk="{{ bend.id }}">
                                    {% if bend.bts_elev_waspada %}
                                    <span style="color: blue">{{ bend.bts_elev_waspada }}</span>
                                    {% else %}<span style="color: red">Empty</span>{% endif %}
                                </a>
                            </td>
                            <td class="text-right">
                                <a data-url="/admin/bendungan/update"
                                    class="editable"
                                    data-name="vn1_panjang_saluran"
                                    data-type="number"
                                    data-title="{{ nama }}, Panjang Saluran"
                                    data-step=".01"
                                    data-pk="{{ bend.id }}">
                                    {% if bend.vn1_panjang_saluran %}
                                    <span style="color: blue">{{ bend.vn1_panjang_saluran }}</span>
                                    {% else %}<span style="color: red">Empty</span>{% endif %}
                                </a>
                            </td>
                            <td class="text-right">
                                <a data-url="/admin/bendungan/update"
                                    class="editable"
                                    data-name="vn1_q_limit"
                                    data-type="number"
                                    data-title="{{ nama }}, Batas Rembesan"
                                    data-step=".01"
                                    data-pk="{{ bend.id }}">
                                    {% if bend.vn1_q_limit %}
                                    <span style="color: blue">{{ bend.vn1_q_limit }}</span>
                                    {% else %}<span style="color: red">Empty</span>{% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
    <script>
        // turn to popup mode
        $.fn.editable.defaults.mode = 'popup';
        $(document).ready(function() {
            $('.editable').editable();
        });
    </script>
{% endblock %}
