{% extends 'master/base.html' %}

{% set title = "Bendungan" %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<style>
    .datepicker {
        z-index: 10000 !important;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th rowspan="3" class="text-center align-middle">No</th>
                    <th rowspan="3" class="text-center align-middle">Nama Bendungan</th>
                    <th rowspan="3" class="text-center align-middle">Kondisi</th>
                    <th colspan="5" class="text-center align-middle">Data Teknis Bendungan</th>
                    <th colspan="9" class="text-center align-middle">
                        <span id="datepicker"><i class="fas fa-calendar"></i> {{ sampling.strftime('%d %b %Y') }}</span>
                    </th>
                </tr>
                <tr>
                    <th rowspan="2" class="text-center align-middle">Tampungan (Juta M3)</th>
                    <th rowspan="2" class="text-center align-middle">Irigasi (Ha)</th>
                    <th rowspan="2" class="text-center align-middle">Elevasi Puncak (M)</th>
                    <th rowspan="2" class="text-center align-middle">Elevasi Puncak Mercu (M)</th>
                    <th rowspan="2" class="text-center align-middle">Elevasi Air Minimum (M)</th>
                    <th rowspan="2" class="text-center align-middle">07 (M)</th>
                    <th rowspan="2" class="text-center align-middle">12 (M)</th>
                    <th rowspan="2" class="text-center align-middle">18 (M)</th>
                    <th rowspan="2" class="text-center align-middle">Vol (Juta M3)</th>
                    <!-- <th rowspan="2">TMA Banjir (Juta M3)</th> -->
                    <th colspan="2" class="text-center align-middle">Outflow (M3/det)</th>
                    <th rowspan="2" class="text-center align-middle">VNotch (L/det3)</th>
                    <th rowspan="2" class="text-center align-middle">Curah Hujan (mm)</th>
                </tr>
                <tr>
                    <th>Intake</th>
                    <th>Spillway</th>
                </tr>
            </thead>
            <tbody>
                {% for wil_s, data in waduk.items() %}
                    <tr>
                        <td colspan="16" class="text-center text-light bg-primary"><big><b>Wilayah {{ wil_sungai[wil_s] }}</b></big></td>
                    </tr>
                    {% for w in data %}
                        <tr>
                            <td>{{ w.no }}</td>
                            <td>
                                <a href="{{ url_for('bendungan.tma', lokasi_id=w.id, sampling=sampling.strftime('%Y-%m-%d')) }}">{{ w.nama }}</a><br>
                                ({{ w.kab }})
                            </td>
                            <td class="text-center">{{ w.kondisi|safe }}</td>
                            <td class="text-right">{% if w.volume %}{{ w.volume }}{% else %}-{% endif %}</td>
                            <td class="text-right">{% if w.lbi %}{{ w.lbi }}{% else %}-{% endif %}</td>
                            <td class="text-right">{% if w.elev_puncak %}{{ w.elev_puncak }}{% else %}-{% endif %}</td>
                            <td class="text-right">{% if w.muka_air_max %}{{ w.muka_air_max }}{% else %}-{% endif %}</td>
                            <td class="text-right">{% if w.muka_air_min %}{{ w.muka_air_min }}{% else %}-{% endif %}</td>
                            <td class="text-right">{% if w.tma6 %}{{ w.tma6 }}{% else %}-{% endif %}</td>
                            <td class="text-right">{% if w.tma12 %}{{ w.tma12 }}{% else %}-{% endif %}</td>
                            <td class="text-right">{% if w.tma18 %}{{ w.tma18 }}{% else %}-{% endif %}</td>
                            <td class="text-right">{% if w.outflow_vol %}{{ "{:,.2f}".format(w.outflow_vol) }}{% else %}-{% endif %}</td>
                            <td class="text-right">{% if w.outflow_deb %}{{ "{:,.2f}".format(w.outflow_deb) }}{% else %}-{% endif %}</td>
                            <td class="text-right">{% if w.spillway_deb %}{{ "{:,.2f}".format(w.spillway_deb) }}{% else %}-{% endif %}</td>
                            <td class="text-right">{% if w.debit %}{{ "{:,.2f}".format(w.debit) }}{% else %}-{% endif %}</td>
                            <td class="text-right">{% if w.curahhujan %}{{ "{:,.2f}".format(w.curahhujan) }}{% else %}-{% endif %}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
          $('#datepicker').datepicker({
            todayHighlight: true,
            autoclose: true,
            format: 'yyyy-mm-dd'
          });
          $('#datepicker').on('changeDate', function () {
            window.location = "{{ url_for('bendungan.index') }}?sampling=" + $('#datepicker').datepicker('getFormattedDate')
          });
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          });
    	     moment.locale('id');
          $('.hari').each(function (i, e) {
            console.log($(e).prepend(moment($(e).data('tgl')).fromNow()));
          });
          // $('#sejak').popover({
          //       html: true,
    		// 	placement: 'right',
          //       title: "Sejak ? hari",
          //       content: $('#sejakForm').html()
          // });

        });
    </script>
{% endblock %}
