{% extends 'master/base.html' %}

{% set title = "Bendungan" %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<style>
    .datepicker {
        z-index: 10000 !important;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <ul class="list-inline">
            <h1 class="list-inline-item">
                Kegiatan Petugas Bendungan
                <!-- <i class="fa fa-calendar"></i> -->
                <span id="datepicker" style="color: #18bc9c">
                    {{ sampling.strftime('%Y-%m-%d') }}
                </span>
            </h1>
            <h5 class="list-inline-item">
                <span class="badge badge-pill badge-secondary" id="num_bd"
                        title="Petugas Bendungan yang telah Melaporkan">
                    {{ data|length }}
                <span>
            </h5>
        </ul>
        {% if data %}
        {% for id, d in data.items() %}
            <h3 style="margin-top: 50px;" class="bd_name">
                <i class="bi bi-geo-alt text-primary"></i>
                {{ d.bend.name }}
            </h3>
            <hr>
            {% for petugas, keg in d.kegiatan.items() %}
                <div class="row" style="padding-top: 10px;">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-11">
                    <i class="bi bi-person"></i>
                    <b>{{ petugas }}</b><br>
                    {% for k in keg %}
                      <div class="row">
                          <div class="col-md-3">
                              <span id="waktu" class="text-muted" style="padding-left: 10px;">
                                  {{ k.get_hms() }}
                              </span>
                          </div>
                          <div class="col-md-9">
                              {{ k.uraian }}
                          </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        {% else %}<h3>Belum Ada Kegiatan</h3>{% endif %}
        <br>
    </div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/id.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('#datepicker').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            startView: "days",
            minViewMode: "days"
        });
        $('#datepicker').on('changeDate', function () {
            window.location = "{{ url_for('bendungan.kegiatan') }}?sampling=" + $('#datepicker').datepicker('getFormattedDate')
        });
        $('#datepicker').text(moment($('#datepicker').text()).format('ddd, D MMM YYYY'));

        let tgls = document.querySelectorAll("#waktu");
        tgls.forEach(function(el){
            console.log(el.value);
            el.innerText = `${moment(el.innerText).format('dddd')}, ${moment(el.innerText).format('ll')}, ${moment(el.innerText).format('LT')}`;
        });
    });
</script>
{% endblock %}
