{% extends 'master/base.html' %}

{% set title = "Bendungan" %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">
{% endblock %}

{% block content %}
    <div class="container" id="my">
        <div class="row">
            <div class="col-md-6">
                <h1>{{ waduk.name }} RTOW</h1>
            </div>
            <div class="col-md-6 d-print-none">
                <div class="btn-group" role="group" style="float: right">
                    <a class="btn btn-primary" href="{{ url_for('bendungan.tma', lokasi_id=waduk.id) }}">TMA</a>
                    <a class="btn btn-primary disabled" href="{{ url_for('bendungan.operasi', lokasi_id=waduk.id) }}">RTOW</a>
                    <a class="btn btn-primary" href="{{ url_for('bendungan.vnotch', lokasi_id=waduk.id) }}">VNotch</a>
                    <a class="btn btn-primary" href="{{ url_for('bendungan.piezo', lokasi_id=waduk.id) }}">Piezometer</a>
                    <a class="btn btn-primary" href="">CCTV</a>
                    <a class="btn btn-primary" href="">RTTG</a>
                </div>
            </div>
        </div>
        <div class="text-center">
            <h5>Periode : <span id="datepicker">{{ year }}</span> (Nov {{ year - 1 }} - Okt {{ year }})</h5>
            <br>
            <h3>RTOW dan Realisasi TMA</h3>
        </div>
        <br>
        <div>
            <canvas id="operasiChart" style="width: 100%; height: 300px; border: solid 1px #eee;" class="chartjs-render-monitor"></canvas>
        </div>
        <div class="mt-5">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th rowspan="3" colspan="2" class="align-middle text-center">Tahun / Bulan / Dekade</th>
                        <th colspan="12" class="text-center">Musim Hujan {{ tanggal2[0][-4:] }}/{% if tanggal2|length > 12 %}{{ tanggal2[12][-4:]}}{% endif %}</th>
                    </tr>
                    <tr>
                        {% for t in tanggal2[0:12] %}
                        {% if loop.index % 2 %}
                        <th colspan="2" class="text-center">{{ t[3:6] }}</th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for t in tanggal2[0:12] %}
                        <th class="text-center">{{ loop.cycle('1', '2') }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="2" class="align-middle">TMA (m)</th>
                        <th>Pola</th>
                        {% for d in operasi2.po_tma[0:12] %}
                        <td class="text-right">{{ d }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Aktual</th>
                        {% for d in operasi2.real[0:12] %}
                        <td class="text-right">{{ d }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th rowspan="2" class="align-middle">Debit Inflow (m<sup>3</sup>/det)</th>
                        <th>Pola</th>
                        {% for d in operasi2.po_inflow[0:12] %}
                        <td class="text-right">{{ d }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Aktual</th>
                        {% for d in operasi2.real_inflow[0:12] %}
                        <td class="text-right">{{ d }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th rowspan="2" class="align-middle">Debit Outflow (m<sup>3</sup>/det)</th>
                        <th>Pola</th>
                        {% for d in operasi2.po_outflow[0:12] %}
                        <td class="text-right">{{ d }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Aktual</th>
                        {% for d in operasi2.real_outflow[0:12] %}
                        <td class="text-right">{{ d }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered mt-5">
                <thead>
                    <tr>
                        <th rowspan="3" colspan="2" class="align-middle text-center">Tahun / Bulan / Dekade</th>
                        <th colspan="12" class="text-center">Musim Kering {% if tanggal2|length > 12 %}{{ tanggal2[12][-4:]}}{% endif %}</th>
                    </tr>
                    <tr>
                        {% for t in tanggal2[12:24] %}
                        {% if loop.index % 2 %}
                        <th colspan="2" class="text-center">{{ t[3:6] }}</th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for t in tanggal2[12:24] %}
                        <th class="text-center">{{ loop.cycle('1', '2') }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="2" class="align-middle">TMA (m)</th>
                        <th>Pola</th>
                        {% for d in operasi2.po_tma[12:24] %}
                        <td class="text-right">{{ d }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Aktual</th>
                        {% for d in operasi2.real[12:24] %}
                        <td class="text-right">{{ d }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th rowspan="2" class="align-middle">Debit Inflow (m<sup>3</sup>/det)</th>
                        <th>Pola</th>
                        {% for d in operasi2.po_inflow[12:24] %}
                        <td class="text-right">{{ d }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Aktual</th>
                        {% for d in operasi2.real_inflow[12:24] %}
                        <td class="text-right">{{ d }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th rowspan="2" class="align-middle">Debit Outflow (m<sup>3</sup>/det)</th>
                        <th>Pola</th>
                        {% for d in operasi2.po_outflow[12:24] %}
                        <td class="text-right">{{ d }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Aktual</th>
                        {% for d in operasi2.real_outflow[12:24] %}
                        <td class="text-right">{{ d }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/id.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0"></script>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <script>
        $(document).ready(function() {
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          });
    	     moment.locale('id');
          $('.hari').each(function (i, e) {
            console.log($(e).prepend(moment($(e).data('tgl')).fromNow()));
          });
          // $('#sejak').popover({
          //       html: true,
    		// 	placement: 'right',
          //       title: "Sejak ? hari",
          //       content: $('#sejakForm').html()
          // });


        });

        $('#datepicker').datepicker({
            todayHighlight: true,
            autoclose: true,
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years"
        });
        $('#datepicker').on('changeDate', function () {
            window.location = "{{ url_for('bendungan.operasi', lokasi_id=waduk.id) }}?sampling=" + $('#datepicker').datepicker('getFormattedDate')
        });

        // chart
        let options = {
            responsive: true,
            legend: {
                labels: {
                    usePointStyle: true,
                },
                maxWidth: 100,
                fullSize: false
            },
            scales: {
                y: {
                        beginAtZero: false,
                        min: {{ waduk.muka_air_min }} - 10,
                        title: {
                            display:true,
                            text: 'MDPL'
                        }
                    },
                y1: {
                    position: 'right',
                    display: true,
                    type: 'linear',
                    title: {
                        display:true,
                        text: 'M3/det'
                    }
                    
                }
            },
            tooltips: {
                position: "nearest",
                mode: "index",
                intersect: false,
                callbacks: {
                    label: (item, data) => `${data.datasets[item.datasetIndex].label} : ${item.yLabel} m`,
                },
            },
        };

        let ctx = document.getElementById('operasiChart').getContext('2d');
        let myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{{ tanggal|safe }}],
                datasets: [
                    {
                        label: "Batas Atas",
                        data: [{{ operasi.po_bona|safe }}],
                        backgroundColor: 'rgba(255,0,0,0.5)',
                        borderColor: 'rgba(255,0,0,1)',
                        borderWidth: 1,
                        fill: false,
                        pointStyle: 'triangle'
                    },
                    {
                        label: "Batas Bawah",
                        data: [{{ operasi.po_bonb|safe }}],
                        backgroundColor: 'rgba(0,255,0,0.5)',
                        borderColor: 'rgba(0,255,0,1)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: "Realisasi",
                        data: [{{ operasi.real|safe }}],
                        backgroundColor: 'rgba(0,0,255,0.5)',
                        borderColor: 'rgba(0,0,255,1)',
                        borderWidth: 1,
                        fill: false,
                        pointStyle: 'rectRot'
                    },
                    {
                        label: "TMA RTOW",
                        data: [{{ operasi.po_tma|safe }}],
                        backgroundColor: 'rgba(255,255,0,0.5)',
                        borderColor: 'rgba(255,255,0,1)',
                        borderWidth: 1,
                        fill: false,
                        pointStyle: 'rectRot'
                    },
                    {
                        label: "Elevasi Minimal",
                        data: [{{ operasi.elev_min|safe }}],
                        backgroundColor: 'rgba(255,0,255,0.5)',
                        borderColor: 'rgba(255,0,255,1)',
                        borderWidth: 1,
                        fill: false,
                        pointStyle: 'cross'
                    },
                    {
                        label: "Sedimen",
                        data: [{{ operasi.sedimen|safe }}],
                        backgroundColor: 'rgba(0,0,0,0.5)',
                        borderColor: 'rgba(0,0,0,1)',
                        borderWidth: 1,
                        fill: false,
                        pointStyle: 'line'
                    },
                    {
                        label: "Inflow Pola",
                        data: [{{ operasi.po_inflow|safe }}],
                        type: 'bar',
                        yAxisID: 'y1',
                        backgroundColor: 'rgb(27,69,123)'
                    },
                    {
                        label: "Outflow Pola",
                        data: [{{ operasi.po_outflow|safe }}],
                        type: 'bar',
                        yAxisID: 'y1',
                        backgroundColor: 'rgb(170, 65, 0)'
                    },
                    {
                        label: "Inflow",
                        data: [{{ operasi.real_inflow|safe }}],
                        type: 'bar',
                        yAxisID: 'y1',
                        backgroundColor: 'rgb(0,97,149)'
                    },
                    {
                        label: "Outflow",
                        data: [{{ operasi.real_outflow|safe }}],
                        type: 'bar',
                        yAxisID: 'y1',
                        backgroundColor: 'rgb(55, 105, 31)'
                    }
                ]
            },
            options: options
        });

    </script>
{% endblock %}
