{% extends 'master/base_adm.html' %}

{% set title = "Bendungan" %}
{% set subtitle = "Kegiatan" %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<style>
    .datepicker {
        z-index: 10000 !important;
        display: inherit;
    }
</style>
<link href="{{ url_for('static', filename='css/bootstrap-editable.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div>
        <h1>{{ name }}
            <a href="{{ url_for('admin.pemeliharaan', bendungan_id=bend_id) }}" class="btn btn-info" role="button">
              Laporan Pemeliharaan
            </a>
            <a data-toggle="collapse" href="#addkeg" class="btn btn-primary" role="button" aria-expanded="false" aria-controls="tmapagi">
              Tambah Laporan Kegiatan
            </a>
        </h1>
        <div class="forms">
            <div class="container">
                <!-- <form method="POST"> -->
                    <div class="collapse" id="addkeg">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="form-text" for="sampling"><b>Tanggal</b></label>
                                  <input class="form-control" type="text" name="sampling" id="datepicker_kegiatan" hidden required value="{{ sampling.strftime('%Y-%m-%d') }}">
                                  <p class="ml-2" id="sampling-kegiatan">{{ sampling.strftime('%d %B %Y') }}</p>
                              </div>
                              <div class="form-group">
                                  <label class="form-text" for="petugas"><b>Petugas Kegiatan</b></label>
                                  <select id="petugas" name="petugas" class="form-control">
                                    <option selected>-</option>
                                    <option>Koordinator</option>
                                    <option>Keamanan</option>
                                    <option>Pemantauan</option>
                                    <option>Operasi</option>
                                  </select>
                                  <small id="petugashelp" class="form-text text-muted">
                                      Laporan Pemeliharaan klik <a href="{{ url_for('admin.pemeliharaan', bendungan_id=bend_id) }}">disini</a>.
                                  </small>
                              </div>
                              <div class="form-group">
                                  <label for="foto"><b>Foto</b></label>
                                  <input type="file" class="form-control-file" id="foto" name="foto">
                                  <div>
                                      <img id="blah" src="{{ url_for('static', filename='images/null.jpg') }}" alt="gambar disini">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="form-text" for="keterangan"><b>Keterangan</b></label>
                                  <input type="text" name="keterangan" class="form-control" required placeholder="Kegiatan Babat Rumput = 80%">
                              </div>
                              <div>
                                  <button name="btnkirim" class="btn btn-primary my-1 mr-2" onclick="go_upload()">Kirim</button>
                                  <a data-toggle="collapse" href="#addkeg" role="button" aria-expanded="false" aria-controls="addkeg" onclick="srcnull()">batal</a>
                              </div>
                          </div>
                          <div class="col-md-6 form-group">
                                <h3>Laporan Kegiatan Petugas</h3>
                                <p>Pilih foto, bisa juga langsung dari kamera Handphone</p>
                                <p>Berikan keterangan tentang foto</p>
                                <p>Tanggal aktifitas berlangsung</p>
                                <p>Pilih petugas yang melakukan kegiatan pada foto</p>
                          </div>
                      </div>
                    </div>
                <!-- </form> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>
                    Bulan <span id="datepicker" style="color: #18bc9c"><i class="bi bi-calendar-month ml-2"></i> {{ sampling_dt.strftime('%B %Y') }}</span>
                    <button class="btn btn-outline-primary mx-4" onClick="toXlsx()">Download</button>
                </h3>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-outline-primary btn-sm mr-3" href="?s={{ sampling_dt.strftime('%Y-%m-%d') }}"><i class="bi bi-chevron-left"></i></a> 
                {{ from_to }} 
                <a class="ml-3 btn btn-outline-primary btn-sm" href="?s={{ sampling.strftime('%Y-%m-%d') }}"><i class="bi bi-chevron-right"></i></a></div>
            </div>
        </div>
        <table class="table table-hover table-bordered" id="table_kegiatan">
            <thead>
                <tr class="table-active">
                    <th class="text-center align-middle">Tanggal</th>
                    <th class="text-center align-middle">Koordinator</th>
                    <th class="text-center align-middle">Keamanan</th>
                    <th class="text-center align-middle">Pemantauan</th>
                    <th class="text-center align-middle">Operasi</th>
                    <th class="text-center align-middle">Pemeliharaan</th>
                </tr>
            </thead>
            <tbody>
                {% for date, keg in kegiatan.items() %}
                    <tr>
                        <td>
                            <span id="tgl">{{ date.strftime("%Y-%m-%d") }}</span>
                            <a href="{{ url_for('admin.kegiatan_paper', bendungan_id=bend_id) }}?sampling={{ date.strftime("%Y-%m-%d") }}" class="text-right"><i class="bi bi-printer float-right" title="Versi Cetak"></i></a>
                        </td>
                        <td>
                            {% if keg.koordinator %}
                            <ul>
                                {% for k in keg.koordinator %}
                                    <li>{{ k }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                                <i>Tidak Ada</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if keg.keamanan %}
                            <ul>
                                {% for k in keg.keamanan %}
                                    <li>{{ k }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                                <i>Tidak Ada</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if keg.pemantauan %}
                            <ul>
                                {% for k in keg.pemantauan %}
                                    <li>{{ k }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                                <i>Tidak Ada</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if keg.operasi %}
                            <ul>
                                {% for k in keg.operasi %}
                                    <li>{{ k }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                                <i>Tidak Ada</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if keg.pemeliharaan %}
                            <ul>
                                {% for k in keg.pemeliharaan %}
                                    <li>{{ k }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                                <i>Tidak Ada</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
<!-- use version 0.20.1 -->
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/id.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/MinifyJpegAsync.js') }}"></script>
<script>
    function toXlsx() {
        var wb = XLSX.utils.table_to_book(document.getElementById('table_kegiatan'));
        XLSX.writeFile(wb, "Kegiatan_{{ name.replace(' ', '_')}}_{{ sampling_dt.strftime('%b_%Y') }}.xlsx")
    }

    $(document).ready(function() {
        // resolve package confict
        let datepicker = $.fn.datepicker.noConflict();
        $.fn.bootstrapDP = datepicker;

        $('#datepicker').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            startView: "months",
            minViewMode: "months"
        });
        $('#datepicker').on('changeDate', function () {
            window.location = "{{ url_for('admin.kegiatan_bendungan', bendungan_id=bend_id) }}?sampling=" + $('#datepicker').datepicker('getFormattedDate')
        });

        $('#sampling-kegiatan').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#sampling-kegiatan').on('changeDate', function () {
            let date = $('#sampling-kegiatan').datepicker('getFormattedDate');
            $('#sampling-kegiatan').text(moment(date).format('DD MMMM YYYY'));
            $('#datepicker_kegiatan').attr('value', moment(date).format('YYYY-MM-DD'));
            $('.datepicker').hide();
        });

        let tgls = document.querySelectorAll("#tgl");
        tgls.forEach(function(el){
            console.log(el.value);
            el.innerText = moment(el.innerText).format('ddd, D');
        });

        //turn to popup mode
        $.fn.editable.defaults.mode = 'popup';
        $(document).ready(function() {
            $('.editable').editable({
                error: function(response, newValue) {
                    if(response.status === 500) {
                        return 'Tidak bisa update, Tambah data pakai form.';
                    }
                 },
            });
        });

        $('select[name="petugas"]').change(function () {
            if ($('input#foto')[0].files && ($('input#foto')[0].files.length > 0)) {
                $('input[name="submit"]').removeClass('disabled');
            };
            console.log(this.value);
        });

        $('#foto').on('change', function(event) {
            console.log("Input Change Detected");
            readURL(event);
        });
    });

    let enc_img = '';
	let file_name = '';
	function readURL(event) {
        let f = event.target.files[0];
		file_name = f.name;
        let reader = new FileReader();

        reader.onloadend = function(e){
            console.log(`onload function called, parameter : ${e}`);
			MinifyJpegAsync.minify(e.target.result, 720, function(data) {
				enc_img = "data:image/jpeg;base64," + btoa(data);
				let img = new Image();
				img.src = enc_img;

				document.getElementById('blah').src = enc_img;
				console.log('Hasil proses minify') ;
			});
        };  // (function(theFile))(f)
		reader.readAsDataURL(f);
    };

    function go_upload() {
        if($('select[name="petugas"]').val() == 'Tidak Ada'){
            alert('Pilih petugas');
            $('select[name="petugas"]').focus();
        } else if ($('#blah').attr('src') == "{{ url_for('static', filename='img/null.jpg') }}"){
            alert('Pilih foto terlebih dahulu');
        } else if ($('input[name="keterangan"]').val() == ''){
            alert('Harap masukkan keterangan foto kegiatan');
            $('input[name="keterangan"]').focus();
        } else {
            // change button to loading
            $('button[name="btnkirim"]').prop('disabled', true);
            $('button[name="btnkirim"]').html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Mengirim...`
            );

            // send data
            let fields = 'keterangan_waktu'.split('_');
            let formData = {
                csrf_token: '{{ csrf }}',
                foto: enc_img,
                filename: file_name,
                keterangan: $('input[name="keterangan"]').val(),
                sampling: $('input[name="sampling"]').val(),
                petugas: $('select[name="petugas"]').val().toLowerCase()
            };
            console.log("Posting Photo");
            console.log(formData);
            $.ajax({
                url : "{{ url_for('admin.kegiatan_add', bendungan_id=bend_id) }}",
                data: formData,
                type: 'POST'
            }).done(function(res) {
                console.log(res);
                location.reload();
            }).fail(function() {
                alert('Gagal Mengirim');
                $('button[name="btnkirim"]').prop('disabled', false);
                $('button[name="btnkirim"]').html(
                    `Kirim`
                );
            });
        }
    }

    function srcnull(){
    	$('#fotoFile').val('');
    	$('#blah').attr('src', "{{ url_for('static', filename='img/null.jpg') }}");
    	$('input[name="keterangan"]').val('');
    	$('select[name="petugas"]').val("Tidak Ada").change();
    	$('#form-kegiatan').collapse('hide');
    }
</script>
{% endblock %}
