{% extends 'master/base_adm.html' %}

{% set title = "Kegiatan" %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<style>
    .datepicker {
        z-index: 10000 !important;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Foto Kegiatan</h1>
        <h4 id="tgl">{{ sampling.strftime('%Y-%m-%d') }}</h4>
        <table class="table table-bordered">
            <thead>
                <th class="text-center">Bendungan</th>
                <th class="text-center">Koordinator</th>
                <th class="text-center">Keamanan</th>
                <th class="text-center">Pemantauan</th>
                <th class="text-center">Operasi</th>
                <th class="text-center">Pemeliharaan</th>
            </thead>
            <tbody>
                {% for b_id, keg in results.items() %}
                    <tr>
                        <td><a href="{{ url_for('admin.kegiatan_bendungan', bendungan_id=b_id) }}">{{ keg.bend.name }}</a></td>
                        <td class="text-center">
                            {% if keg.koordinator %}{{ keg.koordinator|length }} Kegiatan
                            {% else %}-{% endif %}
                        </td>
                        <td class="text-center">
                            {% if keg.keamanan %}{{ keg.keamanan|length }} Kegiatan
                            {% else %}-{% endif %}
                        </td>
                        <td class="text-center">
                            {% if keg.pemantauan %}{{ keg.pemantauan|length }} Kegiatan
                            {% else %}-{% endif %}
                        </td>
                        <td class="text-center">
                            {% if keg.operasi %}{{ keg.operasi|length }} Kegiatan
                            {% else %}-{% endif %}
                        </td>
                        <td class="text-center">
                            {% if keg.pemeliharaan %}{{ keg.pemeliharaan|length }} Kegiatan
                            {% else %}-{% endif %}
                            <br><a href="{{ url_for('admin.pemeliharaan', bendungan_id=b_id) }}">Lihat</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/id.js') }}"></script>
<script>
    let tgls = document.querySelectorAll("#tgl");
    tgls.forEach(function(el){
        console.log(el.value);
        el.innerText = moment(el.innerText).format('dddd, LL');
    });
</script>
{% endblock %}
