{% extends 'master/base_adm.html' %}

{% set title = "Kegiatan" %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<style>
    .datepicker {
        z-index: 10000 !important;
        display: inherit;
    }
</style>
<link href="{{ url_for('static', filename='css/bootstrap-editable.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div>
        <h1>Kegiatan Pemeliharaan {{ bend.name }}</h1><br>
        <div class="forms">
            <div class="row">
                <div class="col-md-6">
                    <h5>
                      <a data-toggle="collapse" href="#rencana" role="button" aria-expanded="false" aria-controls="rencana">
                        Rencana Mingguan <small><i class="fas fa-play"></i></small>
                      </a>
                    </h5>
                    <form action="{{ url_for('admin.pemeliharaan_rencana', bendungan_id=bend.id) }}" method="POST">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="collapse" id="rencana">
                          <div class="form-group">
                              <label class="form-text" for="sampling"><b>Minggu</b></label>
                              <input class="form-control" type="text" name="sampling" id="datepicker-rencana" hidden required value="{{ sampling.strftime('%Y-%m-%d') }}">
                              <a class="d-inline" href="#" onclick="prevWeek()"><i class="fas fa-arrow-left"></i></a>
                              <p class="d-inline ml-2 mr-2" id="sampling-rencana"><i class="fas fa-calendar"></i> {{ sampling.strftime('%Y-%m-%d') }}</p>
                              <a class="d-inline" href="#" onclick="nextWeek()"><i class="fas fa-arrow-right"></i></a>
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="jenis"><b>Jenis Kegiatan</b></label>
                              <select id="jenis" name="jenis" class="form-control" required>
                                {% for jen in jenis %}
                                    <option value="{{ jen }}">{{ jen.title() }}</option>
                                {% endfor %}
                              </select>
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="komponen"><b>Komponen</b></label>
                              <textarea class="form-control" name="komponen" id="komponen" placeholder="Misal: Puncak Bendungan, Lereng Bendungan" required value=""></textarea>
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="target"><b>Target</b></label>
                              <div class="input-group">
                                  <input class="form-control" type="number" name="target" id="target" placeholder="contoh:700" step="0.1" required>
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="satuan">m<sup>3</sup></span>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <button type="submit" name="submit" class="btn btn-primary my-1 mr-2">Kirim</button>
                              <a data-toggle="collapse" href="#rencana" role="button" aria-expanded="false" aria-controls="rencana">batal</a>
                          </div>
                        </div>
                    </form>
                    <br>
                </div>
                <div class="col-md-6">
                    <h5>
                      <a data-toggle="collapse" href="#pemeliharaan" role="button" aria-expanded="false" aria-controls="pemeliharaan">
                        Laporan Pemeliharaan <small><i class="fas fa-play"></i></small>
                      </a>
                    </h5>
                    <form action="{{ url_for('admin.pemeliharaan_lapor', bendungan_id=bend.id) }}" method="POST" enctype="multipart/form-data">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="collapse" id="pemeliharaan">
                          <div class="form-group">
                              <label class="form-text" for="sampling"><b>Tanggal</b></label>
                              <input class="form-control" type="text" name="sampling" id="datepicker-pemeliharaan" hidden required value="{{ sampling.strftime('%Y-%m-%d') }}">
                              <i class="fas fa-calendar d-inline"></i>
                              <p class="ml-2 d-inline" id="sampling-pemeliharaan">{{ sampling.strftime('%d %B %Y') }}</p>
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="jenis"><b>Jenis Kegiatan</b></label>
                              <select id="jenis" name="jenis" class="form-control" aria-describedby="jenishelp" required>
                                {% for jen in jenis_ren %}
                                    <option value="{{ jen }}">{{ jen.title() }}</option>
                                {% endfor %}
                              </select>
                              <small id="jenishelp" class="form-text text-muted">Bisa pilih yg sudah direncanakan</small>
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="petugas"><b>Petugas</b></label>
                              <select id="petugas" name="petugas" class="selectpicker form-control" multiple required aria-describedby="petugashelp">
                                {% for p in petugas %}
                                    <option value="{{ p.id }}">{{ p.nama }}</option>
                                {% endfor %}
                              </select>
                              <small id="petugashelp" class="form-text text-muted">Bisa pilih banyak</small>
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="progress"><b>Progress</b></label>
                              <div class="input-group">
                                  <input class="form-control" type="number" name="progress" id="progress" placeholder="contoh:700" step="0.1" required>
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="satuan">m<sup>3</sup></span>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="keterangan"><b>Keterangan</b></label>
                              <textarea class="form-control" name="keterangan" id="keterangan" required value=""></textarea>
                          </div>
                          <div class="form-group container">
                              <p>*Upload Foto bisa dilakukan di tampilan harian pemeliharaan di bawah</p>
                          </div>
                          <!-- <div class="form-group">
                              <label for="foto"><b>Foto</b></label>
                              <input type="file" class="form-control-file" id="foto" name="foto">
                              <div>
                                  <img id="blah" src="{{ url_for('static', filename='images/null.jpg') }}" alt="gambar disini">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="keterangan_foto"><b>Keterangan Foto</b></label>
                              <input type="text" name="keterangan_foto" class="form-control" placeholder="Kegiatan Babat Rumput = 80%" aria-describedby="fotohelp">
                              <small id="fotohelp" class="form-text text-muted">Foto bisa ditambah di tabel harian</small>
                          </div> -->
                          <div>
                              <button type="submit" name="submit" class="btn btn-primary my-1 mr-2">Kirim</button>
                              <a data-toggle="collapse" href="#pemeliharaan" role="button" aria-expanded="false" aria-controls="pemeliharaan" onclick="srcnull()">batal</a>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <a class="d-inline mr-2" href="{{ url_for('admin.pemeliharaan', bendungan_id=bend.id, sampling=prev.strftime('%Y-%m-%d')) }}"><i class="fas fa-arrow-left"></i></a>
            <p class="d-inline"><b><span id="sampling-weekly">{{ sampling.strftime('%d %B %Y') }}</span></b></p>
            <a class="d-inline ml-2" href="{{ url_for('admin.pemeliharaan', bendungan_id=bend.id, sampling=next.strftime('%Y-%m-%d')) }}"><i class="fas fa-arrow-right"></i></a>
        </div>
        <hr>
        <div class="d-flex mb-3">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link {% if not request.values.get('rencana') == 'on' %}active{% endif %}"
                  id="nav-laporan-tab" data-toggle="tab"
                  href="#nav-laporan" role="tab"
                  aria-controls="laporan"
                  aria-selected="{% if request.values.get('rencana') == 'on' %}false{% else %}true{% endif %}">
                  <h5>Laporan</h5>
                </a>
                <a class="nav-item nav-link {% if request.values.get('rencana') == 'on' %}active{% endif %}"
                    id="nav-rencana-tab" data-toggle="tab"
                    href="#nav-rencana" role="tab"
                    aria-controls="rencana"
                    aria-selected="{% if request.values.get('rencana') == 'on' %}true{% else %}false{% endif %}">
                    <h5>Rencana</h5>
                </a>
              </div>
            </nav>
        </div>
        <div id="weekly-data">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade {% if not request.values.get('rencana') == 'on' %}show active{% endif %} mt-2"
                id="nav-laporan" role="tabpanel">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center align-middle">Jenis Kegiatan</th>
                                <th rowspan="2" class="text-center align-middle">Nama Petugas</th>
                                <th rowspan="2" class="text-center align-middle">Jabatan</th>
                                <th colspan="3" class="text-center align-middle">Progres Output</th>
                                <th rowspan="2" class="text-center align-middle">Keterangan</th>
                                <th rowspan="2" class="text-center align-middle">Dokumentasi</th>
                            </tr>
                            <tr>
                                <th class="text-center align-middle">Rencana Mingguan</th>
                                <th class="text-center align-middle">Realisasi Harian</th>
                                <th class="text-center align-middle">Progres Pekerjaan</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sampl, d in data.items() %}
                                <tr>
                                    <td class="bg-secondary text-center" colspan="9"><b><span id="tgl" >{{ sampl }}</span></b></td>
                                </tr>
                                {% if d %}
                                    {% for pem in d %}
                                    <tr>
                                        <td rowspan="{{ pem.length }}" class="text-center align-middle">
                                            <b>{{ pem.laporan.jenis.title() }}</b><br>
                                            <small>({{ pem.rencana.komponen }})</small>
                                        </td>
                                        <td class="align-middle">{% if pem.petugas %}{{ pem.petugas.0.nama }}{% else %}-{% endif %}</td>
                                        <td class="align-middle">{% if pem.petugas %}{{ pem.petugas.0.tugas }}{% else %}-{% endif %}</td>
                                        <td rowspan="{{ pem.length }}" class="text-center align-middle">{{ pem.rencana.str_nilai()|safe }}</td>
                                        <td rowspan="{{ pem.length }}" class="text-center align-middle">
                                            {{ pem.laporan.str_nilai()|safe }}
                                        </td>
                                        <td rowspan="{{ pem.length }}" class="text-center align-middle">{{ pem.progress * 100 }} %</td>
                                        <td rowspan="{{ pem.length }}" class="text-center align-middle">{{ pem.laporan.keterangan }}</td>
                                        <td rowspan="{{ pem.length }}" class="text-center align-middle"></td>
                                    </tr>
                                        {% for pet in pem.petugas[1:] %}
                                        <tr>
                                            <td>{{ pet.nama }}</td>
                                            <td>{{ pet.tugas }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="9" class="text-center">Tidak Ada Laporan</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade {% if request.values.get('rencana') == 'on' %}show active{% endif %} mt-2"
                id="nav-rencana" role="tabpanel">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center align-middle">No</th>
                                <th class="text-center align-middle">Jenis Kegiatan</th>
                                <th class="text-center align-middle">Komponen</th>
                                <th class="text-center align-middle">Target</th>
                                <th class="text-center align-middle">Progres</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for j, ren in rencana.items() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ j.title() }}</td>
                                <td>{{ ren.rencana.komponen }}</td>
                                <td align="right">{{ ren.rencana.str_nilai()|safe }}</td>
                                <td align="right">{{ ren.progress*100 }} %</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/id.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/MinifyJpegAsync.js') }}"></script>
<script>
    function customFormat(m) {
        return `${m.format('dddd').slice(0,3)}, ${m.format('ll')}`
    }
    function getMonday(date) {
        let weekday = date.getDay();
        if (weekday == 0){
            return moment(date).add(1, 'days');
        } else if (weekday > 1) {
            return moment(date).subtract(weekday-1, 'days');
        } else {
            return moment(date);
        }
    };
    function getSatFromMon(date) {
        return moment(date).add(5, 'days');
    }
    function nextWeek() {
        let sampling = new Date($('#datepicker-rencana').attr('value'));
        let mon = getMonday(date);
        mon = monday.add(7, 'days');
        $('#sampling-rencana').text(`${customFormat(mon)} - ${customFormat(getSatFromMon(mon))}`);
        $('#datepicker-rencana').attr('value', mon.format('YYYY-MM-DD'));
    }
    function prevWeek() {
        let sampling = new Date($('#datepicker-rencana').attr('value'));
        let mon = getMonday(date);
        mon = monday.subtract(7, 'days');
        $('#sampling-rencana').text(`${customFormat(mon)} - ${customFormat(getSatFromMon(mon))}`);
        $('#datepicker-rencana').attr('value', mon.format('YYYY-MM-DD'));
    }

    let date = new Date($('#datepicker-rencana').attr('value'));
    let monday = getMonday(date);
    $('#sampling-weekly').text(`${monday.format('ll')} - ${getSatFromMon(monday).format('ll')}`);
    $('#sampling-rencana').text(`${customFormat(monday)} - ${customFormat(getSatFromMon(monday))}`);
    $('#datepicker-rencana').attr('value', monday.format('YYYY-MM-DD'));

    $(document).ready(function() {
        // resolve package confict
        let datepicker = $.fn.datepicker.noConflict();
        $.fn.bootstrapDP = datepicker;

        $('#datepicker').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            startView: "months",
            minViewMode: "months"
        });
        $('#datepicker').on('changeDate', function () {
            window.location = "{{ url_for('admin.kegiatan_bendungan', bendungan_id=bend_id) }}?sampling=" + $('#datepicker').datepicker('getFormattedDate')
        });

        $('#sampling-pemeliharaan').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#sampling-pemeliharaan').on('changeDate', function () {
            let date = $('#sampling-pemeliharaan').datepicker('getFormattedDate');
            $('#sampling-pemeliharaan').text(moment(date).format('DD MMMM YYYY'));
            $('#datepicker-pemeliharaan').attr('value', moment(date).format('YYYY-MM-DD'));
            $('.datepicker').hide();
        });

        let tgls = document.querySelectorAll("#tgl");
        tgls.forEach(function(el){
            console.log(el.value);
            el.innerText = moment(el.innerText).format('dddd, LL');
        });

        //turn to popup mode
        $.fn.editable.defaults.mode = 'popup';
        $(document).ready(function() {
            $('.editable').editable({
                error: function(response, newValue) {
                    if(response.status === 500) {
                        return 'Tidak bisa update, Tambah data pakai form.';
                    }
                 },
            });
        });

        $('#foto').on('change', function(event) {
            console.log("Input Change Detected");
            readURL(event);
        });
    });

    let enc_img = '';
	let file_name = '';
	function readURL(event) {
        let f = event.target.files[0];
		file_name = f.name;
        let reader = new FileReader();

        reader.onloadend = function(e){
            console.log(`onload function called, parameter : ${e}`);
			MinifyJpegAsync.minify(e.target.result, 1280, function(data) {
				enc_img = "data:image/jpeg;base64," + btoa(data);
				let img = new Image();
				img.src = enc_img;

				document.getElementById('blah').src = enc_img;
				console.log('Hasil proses minify') ;
			});
        };  // (function(theFile))(f)
		reader.readAsDataURL(f);
    };

    function go_upload() {
        if ($('input[name="keterangan_foto"]').val() == ''){
            alert('Harap masukkan keterangan foto kegiatan');
            $('input[name="keterangan"]').focus();
        } else {
            let fields = 'keterangan_waktu'.split('_');
            let formData = {
                csrf_token: '{{ csrf }}',
                foto: enc_img,
                filename: file_name,
                keterangan: $('input[name="keterangan"]').val(),
                sampling: $('input[name="sampling"]').val(),
                petugas: $('select[name="petugas"]').val().toLowerCase()
            };
            console.log("Posting Photo");
            console.log(formData);
            $.post("{{ url_for('admin.kegiatan_add', bendungan_id=bend_id) }}", formData,
                function (res) {
                    console.log(res);
                    location.reload();
                }
            );
        }
    }

    function srcnull(){
    	$('#foto').val('');
    	$('#blah').attr('src', "{{ url_for('static', filename='images/null.jpg') }}");
    	$('input[name="keterangan_foto"]').val('');
    	$('#pemeliharaan').collapse('hide');
    }
</script>
{% endblock %}
