{% extends 'master/base_adm.html' %}

{% set title = "Operasi" %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<style>
    .datepicker {
        z-index: 10000 !important;
        display: inherit;
    }
</style>
<link href="{{ url_for('static', filename='css/bootstrap-editable.css') }}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block content %}
    <div>
        <h1>{{ name }}</h1>
        <div class="forms">
            <div class="row">
                <div class="col-md-4">
                    <h5>
                      <a data-toggle="collapse" href="#tmapagi" role="button" aria-expanded="false" aria-controls="tmapagi">
                        Form Data Pagi <small><i class="fas fa-play"></i></small>
                      </a>
                    </h5>
                    <hr>
                    <form action="{{ url_for('admin.operasi_daily_add', bendungan_id=bend_id) }}" method="POST">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="collapse" id="tmapagi">
                          <div>
                              <div class="form-group">
                                  <label class="form-text" for="sampling"><b>Tanggal</b></label>
                                  <input class="form-control" type="text" name="sampling" id="datepicker_pagi" hidden required value="{{ sampling.strftime('%Y-%m-%d') }}">
                                  <p class="ml-2" id="sampling-pagi"><i class="fas fa-calendar"></i> {{ sampling.strftime('%d %B %Y') }}</p>
                                  <input class="form-control" type="text" name="jam" hidden required value="06">
                              </div>
                          </div>
                          <div>
                              <div class="form-group">
                                  <label class="form-text" for="ch-pagi"><b>Curah Hujan</b></label>
                                  <input class="form-control" type="number" name="curahhujan" id="ch-pagi" placeholder="contoh:15.1" step="0.1" aria-describedby="chpagihelp">
                                  <small id="chpagihelp" class="form-text text-muted">mm</small>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="tma-pagi"><b>TMA</b></label>
                                  <input class="form-control" type="number" name="tma" id="tma-pagi" required placeholder="contoh:123.45" step="0.01" aria-describedby="tmapagihelp">
                                  <small id="tmapagihelp" class="form-text text-muted">m(wajib diisi)</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="vol-pagi"><b>Volume</b></label>
                                  <input class="form-control" type="number" name="vol" id="vol-pagi" required placeholder="contoh:12345" step="1" aria-describedby="volpagihelp">
                                  <small id="volpagihelp" class="form-text text-muted">m<sup>3</sup>(wajib diisi)</small>
                              </div>
                          </div>
                          <h5>Inflow</h5>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="in-deb-pagi"><b>Debit</b></label>
                                  <input class="form-control" type="number" name="inflow_deb" id="in-deb-pagi" required value="0" step="0.001" aria-describedby="in-debpagihelp">
                                  <small id="in-debpagihelp" class="form-text text-muted">m<sup>3</sup>/detik</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="in-vol-pagi"><b>Volume</b></label>
                                  <input class="form-control" type="number" name="inflow_vol" id="in-vol-pagi" required value="0" step="0.001" aria-describedby="in-volpagihelp">
                                  <small id="in-volpagihelp" class="form-text text-muted">m<sup>3</sup></small>
                              </div>
                          </div>
                          <h5>Outflow</h5>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="out-deb-pagi"><b>Intake Debit</b></label>
                                  <input class="form-control" type="number" name="intake_deb" id="out-deb-pagi" required value="0" step="0.001" aria-describedby="out-debpagihelp">
                                  <small id="out-debpagihelp" class="form-text text-muted">m<sup>3</sup>/detik</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="out-vol-pagi"><b>Intake Volume</b></label>
                                  <input class="form-control" type="number" name="intake_vol" id="out-vol-pagi" required value="0" step="0.001" aria-describedby="out-volpagihelp">
                                  <small id="out-volpagihelp" class="form-text text-muted">m<sup>3</sup></small>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="jenis"><b>Keterangan Intake</b></label>
                              <select id="intake_ket" name="intake_ket" class="form-control">
                                <option value="">- pilih -</option>
                                <option value="pemenuhan kebutuhan air irigasi">Pemenuhan Kebutuhan Air Irigasi</option>
                                <option value="pengendalian banjir">Pengendalian Banjir</option>
                                <option value="kebocoran intake">Kebocoran Intake</option>
                                <option value="kejadian luar biasa">Kejadian Luar Biasa</option>
                              </select>
                              <small id="intake_ket_help" class="form-text text-muted">wajib jika nilai intake di atas 0</small>
                          </div>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="spill-deb-pagi"><b>Spillway Debit</b></label>
                                  <input class="form-control" type="number" name="spillway_deb" id="spill-deb-pagi" required value="0" step="0.001" aria-describedby="spill-debpagihelp">
                                  <small id="spill-debpagihelp" class="form-text text-muted">m<sup>3</sup>/detik</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="spill-vol-pagi"><b>Spillway Volume</b></label>
                                  <input class="form-control" type="number" name="spillway_vol" id="spill-vol-pagi" required value="0" step="0.001" aria-describedby="spill-volpagihelp">
                                  <small id="spill-volpagihelp" class="form-text text-muted">m<sup>3</sup></small>
                              </div>
                          </div>
                          <div>
                              <button type="submit" name="submit" class="btn btn-primary my-1 mr-2">Kirim</button>
                              <a data-toggle="collapse" href="#tmapagi" role="button" aria-expanded="false" aria-controls="tmapagi">batal</a>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <h5>
                      <a data-toggle="collapse" href="#tmasiang" role="button" aria-expanded="false" aria-controls="tmasiang">
                        Form Data Siang <small><i class="fas fa-play"></i></small>
                      </a>
                    </h5>
                    <hr>
                    <form action="{{ url_for('admin.operasi_tma_add', bendungan_id=bend_id) }}" method="POST">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="collapse" id="tmasiang">
                          <div>
                              <div class="form-group">
                                  <label class="form-text" for="datepicker-siang"><b>Tanggal</b></label>
                                  <input class="form-control" type="text" name="hari" id="datepicker-siang" hidden required value="{{ sampling.strftime('%Y-%m-%d') }}">
                                  <p class="ml-2" id="sampling-siang"><i class="fas fa-calendar"></i> {{ sampling.strftime('%d %B %Y') }}</p>
                                  <input class="form-control" type="text" name="jam" hidden required value="12">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="tma-sore"><b>TMA</b></label>
                                  <input class="form-control" type="number" name="tma" id="tma-siang" required placeholder="contoh:123.45" step="0.01" aria-describedby="tmasianghelp">
                                  <small id="tmasianghelp" class="form-text text-muted">m(wajib diisi)</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="vol-sore"><b>Volume</b></label>
                                  <input class="form-control" type="number" name="vol" id="vol-siang" required placeholder="contoh:12345" step="1" aria-describedby="volsianghelp">
                                  <small id="volsianghelp" class="form-text text-muted">m<sup>3</sup>(wajib diisi)</small>
                              </div>
                          </div>
                          <div>
                              <button type="submit" name="submit" class="btn btn-primary my-1 mr-2">Kirim</button>
                              <a data-toggle="collapse" href="#tmasiang" role="button" aria-expanded="false" aria-controls="tmasiang">batal</a>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <h5>
                      <a data-toggle="collapse" href="#tmasore" role="button" aria-expanded="false" aria-controls="tmasore">
                        Form Data Sore <small><i class="fas fa-play"></i></small>
                      </a>
                    </h5>
                    <hr>
                    <form action="{{ url_for('admin.operasi_tma_add', bendungan_id=bend_id) }}" method="POST">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="collapse" id="tmasore">
                          <div>
                              <div class="form-group">
                                  <label class="form-text" for="datepicker-sore"><b>Tanggal</b></label>
                                  <input class="form-control" type="text" name="hari" id="datepicker-sore" hidden required value="{{ sampling.strftime('%Y-%m-%d') }}">
                                  <p class="ml-2" id="sampling-sore"><i class="fas fa-calendar"></i> {{ sampling.strftime('%d %B %Y') }}</p>
                                  <input class="form-control" type="text" name="jam" hidden required value="18">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="tma-sore"><b>TMA</b></label>
                                  <input class="form-control" type="number" name="tma" id="tma-sore" required placeholder="contoh:123.45" step="0.01" aria-describedby="tmasorehelp">
                                  <small id="tmasorehelp" class="form-text text-muted">(wajib diisi)</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="vol-sore"><b>Volume</b></label>
                                  <input class="form-control" type="number" name="vol" id="vol-sore" required placeholder="contoh:12345" step="1" aria-describedby="volsorehelp">
                                  <small id="volsorehelp" class="form-text text-muted">(wajib diisi)</small>
                              </div>
                          </div>
                          <div>
                              <button type="submit" name="submit" class="btn btn-primary my-1 mr-2">Kirim</button>
                              <a data-toggle="collapse" href="#tmasore" role="button" aria-expanded="false" aria-controls="tmasore">batal</a>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <h5>
                      <a data-toggle="collapse" href="#vnotch" role="button" aria-expanded="false" aria-controls="vnotch">
                        VNotch <small><i class="fas fa-play"></i></small>
                      </a>
                    </h5>
                    <hr>
                    <form action="{{ url_for('admin.keamanan_vnotch', bendungan_id=bend_id) }}" method="POST">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="collapse" id="vnotch">
                          <div>
                              <div class="form-group">
                                  <label class="form-text" for="sampling"><b>Tanggal</b></label>
                                  <input class="form-control" type="text" name="sampling" id="datepicker-vn" hidden required value="{{ sampling.strftime('%Y-%m-%d') }}">
                                  <p class="ml-2" id="sampling-vn"><i class="fas fa-calendar"></i> {{ sampling.strftime('%d %B %Y') }}</p>
                              </div>
                          </div>
                          <h5>V-Notch</h5>
                          <div>
                              <b>Satu</b>
                          </div>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="vn1_tma"><b>Tinggi Muka Air</b></label>
                                  <input class="form-control" type="number"
                                        name="vn1_tma" id="vn1_tma" placeholder="contoh: 0.45"
                                        step="0.01" aria-describedby="vn1_tma_help">
                                  <small id="vn1_tma_help" class="form-text text-muted">cm</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="vn1_deb"><b>Debit</b></label>
                                  <input class="form-control" type="number"
                                        name="vn1_deb" id="vn1_deb" placeholder="contoh: 12.34"
                                        step="0.01" aria-describedby="vn1_deb_help">
                                  <small id="vn1_deb_help" class="form-text text-muted">L/det</small>
                              </div>
                          </div>
                          <div>
                              <b>Dua</b>
                          </div>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="vn2_tma"><b>Tinggi Muka Air</b></label>
                                  <input class="form-control" type="number"
                                        name="vn2_tma" id="vn2_tma" placeholder="contoh: 0.45"
                                        step="0.01" aria-describedby="vn2_tma_help">
                                  <small id="vn2_tma_help" class="form-text text-muted">cm</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="vn2_deb"><b>Debit</b></label>
                                  <input class="form-control" type="number"
                                        name="vn2_deb" id="vn2_deb" placeholder="contoh: 12.34"
                                        step="0.01" aria-describedby="vn2_deb_help">
                                  <small id="vn2_deb_help" class="form-text text-muted">L/det</small>
                              </div>
                          </div>
                          <div>
                              <b>Tiga</b>
                          </div>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="vn3_tma"><b>Tinggi Muka Air</b></label>
                                  <input class="form-control" type="number"
                                        name="vn3_tma" id="vn3_tma" placeholder="contoh: 0.45"
                                        step="0.01" aria-describedby="vn3_tma_help">
                                  <small id="vn3_tma_help" class="form-text text-muted">cm</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="vn3_deb"><b>Debit</b></label>
                                  <input class="form-control" type="number"
                                        name="vn3_deb" id="vn3_deb" placeholder="contoh: 12.34"
                                        step="0.01" aria-describedby="vn3_deb_help">
                                  <small id="vn3_deb_help" class="form-text text-muted">L/det</small>
                              </div>
                          </div>
                          <div>
                              <button type="submit" name="submit" class="btn btn-primary my-1 mr-2">Kirim</button>
                              <a data-toggle="collapse" href="#vnotch" role="button" aria-expanded="false" aria-controls="vnotch">batal</a>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <h5>
                      <a data-toggle="collapse" href="#piezo" role="button" aria-expanded="false" aria-controls="piezo">
                        Piezometer <small><i class="fas fa-play"></i></small>
                      </a>
                    </h5>
                    <hr>
                    <form action="{{ url_for('admin.keamanan_piezo', bendungan_id=bend_id) }}" method="POST">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="collapse" id="piezo">
                          <div>
                              <div class="form-group">
                                  <label class="form-text" for="sampling"><b>Tanggal</b></label>
                                  <input class="form-control" type="text" name="sampling" id="datepicker-piezo" hidden required value="{{ sampling.strftime('%Y-%m-%d') }}">
                                  <p class="ml-2" id="sampling-piezo"><i class="fas fa-calendar"></i> {{ sampling.strftime('%d %B %Y') }}</p>
                              </div>
                              <h5>PiezoMeter</h5>
                              <div class="row">
                                  {% for i in [1, 2, 3] %}
                                      <div class="col-md-4">
                                          <b>Profile {{ i }}</b>
                                          {% for a in ['a', 'b', 'c'] %}
                                              <div class="form-group">
                                                  <b>{{ i }}{{ a|upper }}</b>
                                                  <input class="form-control"
                                                        type="number" name="p{{ i }}{{ a }}" id="p{{ i }}{{ a }}"
                                                        placeholder="12.34" step="0.01">
                                              </div>
                                          {% endfor %}
                                      </div>
                                  {% endfor %}
                              </div>
                              <div class="row">
                                  {% for i in [4, 5] %}
                                      <div class="col-md-4">
                                          <b>Profile {{ i }}</b>
                                          {% for a in ['a', 'b', 'c'] %}
                                              <div class="form-group">
                                                  <b>{{ i }}{{ a|upper }}</b>
                                                  <input class="form-control"
                                                        type="number" name="p{{ i }}{{ a }}" id="p{{ i }}{{ a }}"
                                                        placeholder="12.34" step="0.01">
                                              </div>
                                          {% endfor %}
                                      </div>
                                  {% endfor %}
                              </div>
                              <div>
                                  <button type="submit" name="submit" class="btn btn-primary my-1 mr-2">Kirim</button>
                                  <a data-toggle="collapse" href="#piezo" role="button" aria-expanded="false" aria-controls="piezo">batal</a>
                              </div>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <h5>
                      <a data-toggle="collapse" href="#banjir" role="button" aria-expanded="false" aria-controls="banjir">
                        Kondisi Banjir <small><i class="fas fa-play"></i></small>
                      </a>
                    </h5>
                    <hr>
                    <form action="{{ url_for('admin.banjir_add', bendungan_id=bend_id) }}" method="POST">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="collapse" id="banjir">
                          <div class="form-group">
                              <label class="form-text" for="sampling"><b>Tanggal</b></label>
                              <input class="form-control" type="text" name="tanggal" id="datepicker-banjir" hidden required value="{{ sampling.strftime('%Y-%m-%d') }}">
                              <p class="ml-2" id="sampling-banjir"><i class="fas fa-calendar"></i> {{ sampling.strftime('%d %B %Y') }}</p>
                          </div>
                          <div class="form-group">
                              <label class="form-text" for="jam"><b>Jam</b></label>
                              <div class="input-group date" id="timepicker" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input" name="timepicker" data-target="#timepicker"/>
                                  <input type="text" name="jam" hidden>
                                  <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="tma-banjir"><b>TMA</b></label>
                                  <input class="form-control" type="number" name="tma" id="tma-banjir" placeholder="contoh:123.45" step="0.01" aria-describedby="tmabanjirhelp">
                                  <small id="tmabanjirhelp" class="form-text text-muted">m (wajib diisi)</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="spillway_deb-banjir"><b>Debit Spillway</b></label>
                                  <input class="form-control" type="number" name="spillway_deb" id="spillway_deb-banjir" placeholder="contoh:15.56" step="0.01">
                              </div>
                          </div>
                          <div>
                              <button type="submit" name="submit" class="btn btn-primary my-1 mr-2">Kirim</button>
                              <a data-toggle="collapse" href="#banjir" role="button" aria-expanded="false" aria-controls="banjir">batal</a>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <h5>
                      <a data-toggle="collapse" href="#ch_terkini" role="button" aria-expanded="false" aria-controls="ch_terkini">
                        Curah Hujan Terkini <small><i class="fas fa-play"></i></small>
                      </a>
                    </h5>
                    <hr>
                    <form action="{{ url_for('admin.ch_terkini', bendungan_id=bend_id) }}" method="POST">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="collapse" id="ch_terkini">
                            <div class="form-group">
                                <label class="form-text" for="sampling"><b>Tanggal</b></label>
                                <input class="form-control" type="text" name="tanggal" id="datepicker-ch" hidden required value="{{ sampling.strftime('%Y-%m-%d') }}">
                                <p class="ml-2" id="sampling-ch"><i class="fas fa-calendar"></i> {{ sampling.strftime('%d %B %Y') }}</p>
                            </div>
                            <div class="form-group">
                                <label class="form-text" for="jam"><b>Jam</b></label>
                                <div class="input-group date" id="timepicker-ch" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" name="timepicker-ch" data-target="#timepicker-ch"/>
                                    <input type="text" name="jam" hidden>
                                    <div class="input-group-append" data-target="#timepicker-ch" data-toggle="datetimepicker">
                                      <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-text" for="ch-banjir"><b>Curah Hujan</b></label>
                                <input class="form-control" type="number" name="ch" id="ch-banjir" placeholder="contoh:123.45" step="0.01" aria-describedby="chhelp">
                                <small id="tmabanjirhelp" class="form-text text-muted">mm (wajib diisi)</small>
                            </div>
                            <div>
                                <button type="submit" name="submit" class="btn btn-primary my-1 mr-2">Kirim</button>
                                <a data-toggle="collapse" href="#ch_terkini" role="button" aria-expanded="false" aria-controls="ch_terkini">batal</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
        <h3>
            Data Harian
            <span id="datepicker" style="color: #18bc9c">
                <i class="fa fa-calendar"></i> {{ sampling_dt.strftime('%B %Y') }}
            </span>
            <a href="{{ url_for('admin.operasi_csv', bendungan_id=bend_id) }}?sampling={{ sampling.strftime('%Y-%m-%d') }}">CSV</a>
        </h3>
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-active">
                    <th rowspan="3" class="text-center align-middle">Tanggal</th>
                    <th rowspan="3" class="text-center align-middle">Curah Hujan</th>
                    <th colspan="2" class="text-center align-middle">Jam 6</th>
                    <th colspan="2" class="text-center align-middle">Jam 12</th>
                    <th colspan="2" class="text-center align-middle">Jam 18</th>
                    <th colspan="2" class="text-center align-middle">Inflow</th>
                    <th colspan="5" class="text-center align-middle">Outflow</th>
                </tr>
                <tr class="table-active">
                    <th rowspan="2" class="text-center align-middle">TMA</th>
                    <th rowspan="2" class="text-center align-middle">Vol</th>
                    <th rowspan="2" class="text-center align-middle">TMA</th>
                    <th rowspan="2" class="text-center align-middle">Vol</th>
                    <th rowspan="2" class="text-center align-middle">TMA</th>
                    <th rowspan="2" class="text-center align-middle">Vol</th>
                    <th rowspan="2" class="text-center align-middle">Debit</th>
                    <th rowspan="2" class="text-center align-middle">Volume</th>
                    <th colspan="3" class="text-center align-middle">Intake</th>
                    <th colspan="2" class="text-center align-middle">Spillway</th>
                </tr>
                <tr class="table-active">
                    <th class="text-center align-middle">Q</th>
                    <th class="text-center align-middle">V</th>
                    <th class="text-center align-middle">Ket</th>
                    <th class="text-center align-middle">Q</th>
                    <th class="text-center align-middle">V</th>
                </tr>
            </thead>
            <tbody>
                {% for date, per in periodik.items() %}
                    <tr>
                        <td id="tgl">{{ date.strftime("%Y-%m-%d") }}</td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_daily_update') }}"
                                class="editable"
                                data-name="ch"
                                data-type="number"
                                data-title="Curah Hujan"
                                data-step=".01"
                                data-pk="{{ per.daily.id }}">
                                {% if per.daily %}
                                <span style="color: blue">{{ per.daily.ch }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_tma_update') }}"
                                class="editable"
                                data-name="tma"
                                data-type="number"
                                data-title="TMA Pagi"
                                data-step=".01"
                                data-pk="{{ per.tma['06'].id }}">
                                {% if per.tma['06'] %}
                                <span style="color: blue">{{ per.tma['06'].tma }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_tma_update') }}"
                                class="editable"
                                data-name="vol"
                                data-type="number"
                                data-title="Vol Pagi"
                                data-step=".01"
                                data-pk="{{ per.tma['06'].id }}">
                                {% if per.tma['06'] %}
                                <span style="color: blue">{{ per.tma['06'].vol }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_tma_update') }}"
                                class="editable"
                                data-name="tma"
                                data-type="number"
                                data-title="TMA Siang"
                                data-step=".01"
                                data-pk="{{ per.tma['12'].id }}">
                                {% if per.tma['12'] %}
                                <span style="color: blue">{{ per.tma['12'].tma }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_tma_update') }}"
                                class="editable"
                                data-name="vol"
                                data-type="number"
                                data-title="Vol Siang"
                                data-step=".01"
                                data-pk="{{ per.tma['12'].id }}">
                                {% if per.tma['12'] %}
                                <span style="color: blue">{{ per.tma['12'].vol }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_tma_update') }}"
                                class="editable"
                                data-name="tma"
                                data-type="number"
                                data-title="TMA Sore"
                                data-step=".01"
                                data-pk="{{ per.tma['18'].id }}">
                                {% if per.tma['18'] %}
                                <span style="color: blue">{{ per.tma['18'].tma }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_tma_update') }}"
                                class="editable"
                                data-name="vol"
                                data-type="number"
                                data-title="Vol Sore"
                                data-step=".01"
                                data-pk="{{ per.tma['18'].id }}">
                                {% if per.tma['18'] %}
                                <span style="color: blue">{{ per.tma['18'].vol }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_daily_update') }}"
                                class="editable"
                                data-name="inflow_deb"
                                data-type="number"
                                data-title="Q Inflow"
                                data-step=".01"
                                data-pk="{{ per.daily.id }}">
                                {% if per.daily %}
                                <span style="color: blue">{{ per.daily.inflow_deb }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_daily_update') }}"
                                class="editable"
                                data-name="inflow_vol"
                                data-type="number"
                                data-title="V Inflow"
                                data-step=".01"
                                data-pk="{{ per.daily.id }}">
                                {% if per.daily %}
                                <span style="color: blue">{{ per.daily.inflow_vol }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_daily_update') }}"
                                class="editable"
                                data-name="intake_deb"
                                data-type="number"
                                data-title="Q Intake"
                                data-step=".01"
                                data-pk="{{ per.daily.id }}">
                                {% if per.daily %}
                                <span style="color: blue">{{ per.daily.intake_deb }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_daily_update') }}"
                                class="editable"
                                data-name="intake_vol"
                                data-type="number"
                                data-title="V Intake"
                                data-step=".01"
                                data-pk="{{ per.daily.id }}">
                                {% if per.daily %}
                                <span style="color: blue">{{ per.daily.intake_vol }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                        <td>
                            {% if per.daily and per.daily.intake_vol > 0 %}
                            <a data-url="{{ url_for('admin.operasi_daily_update') }}"
                                class="intake_ket"
                                data-name="intake_ket"
                                data-type="select"
                                data-title="Keterangan Intake"
                                data-pk="{{ per.daily.id }}">
                                {% if per.daily.intake_ket %}
                                <span style="color: blue">{{ per.daily.intake_ket.title() }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_daily_update') }}"
                                class="editable"
                                data-name="spillway_deb"
                                data-type="number"
                                data-title="Q Spillway"
                                data-step=".01"
                                data-pk="{{ per.daily.id }}">
                                {% if per.daily %}
                                <span style="color: blue">{{ per.daily.spillway_deb }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                        <td class="text-right">
                            <a data-url="{{ url_for('admin.operasi_daily_update') }}"
                                class="editable"
                                data-name="spillway_vol"
                                data-type="number"
                                data-title="V Spillway"
                                data-step=".01"
                                data-pk="{{ per.daily.id }}">
                                {% if per.daily %}
                                <span style="color: blue">{{ per.daily.spillway_vol }}</span>
                                {% else %}<span style="color: red">Empty</span>{% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/id.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script>
    $(document).ready(function() {
        // resolve package confict
        let datepicker = $.fn.datepicker.noConflict();
        $.fn.bootstrapDP = datepicker;

        $('#datepicker').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            startView: "months",
            minViewMode: "months"
        });
        $('#datepicker').on('changeDate', function () {
            window.location = "{{ url_for('admin.operasi_bendungan', bendungan_id=bend_id) }}?sampling=" + $('#datepicker').datepicker('getFormattedDate')
        });

        $('#sampling-pagi').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#sampling-pagi').on('changeDate', function () {
            let date = $('#sampling-pagi').datepicker('getFormattedDate');
            $('#sampling-pagi').text(moment(date).format('DD MMMM YYYY'));
            $('#datepicker_pagi').attr('value', moment(date).format('YYYY-MM-DD'));
            $('.datepicker').hide();
        });

        $('#sampling-siang').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#sampling-siang').on('changeDate', function () {
            let date = $('#sampling-siang').datepicker('getFormattedDate');
            $('#sampling-siang').text(moment(date).format('DD MMMM YYYY'));
            $('#datepicker-siang').attr('value', moment(date).format('YYYY-MM-DD'));
            $('.datepicker').hide();
        });

        $('#sampling-sore').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#sampling-sore').on('changeDate', function () {
            let date = $('#sampling-sore').datepicker('getFormattedDate');
            $('#sampling-sore').text(moment(date).format('DD MMMM YYYY'));
            $('#datepicker-sore').attr('value', moment(date).format('YYYY-MM-DD'));
            $('.datepicker').hide();
        });

        $('#sampling-vn').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#sampling-vn').on('changeDate', function () {
            let date = $('#sampling-vn').datepicker('getFormattedDate');
            $('#sampling-vn').text(moment(date).format('DD MMMM YYYY'));
            $('#datepicker-vn').attr('value', moment(date).format('YYYY-MM-DD'));
            $('.datepicker').hide();
        });

        $('#sampling-piezo').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#sampling-piezo').on('changeDate', function () {
            let date = $('#sampling-piezo').datepicker('getFormattedDate');
            $('#sampling-piezo').text(moment(date).format('DD MMMM YYYY'));
            $('#datepicker-piezo').attr('value', moment(date).format('YYYY-MM-DD'));
            $('.datepicker').hide();
        });

        $('#sampling-banjir').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#sampling-banjir').on('changeDate', function () {
            let date = $('#sampling-banjir').datepicker('getFormattedDate');
            $('#sampling-banjir').text(moment(date).format('DD MMMM YYYY'));
            $('#datepicker-banjir').attr('value', moment(date).format('YYYY-MM-DD'));
            $('.datepicker').hide();
        });
        $(function () {
            $('#timepicker').datetimepicker({
                format: 'LTS',
                locale: 'id'
            });
        });
        $("#timepicker").on("change.datetimepicker", function (e) {
            let time = e.date.format('LTS');
            // console.log(time)
            $('#jam').attr('value', time);
        });

        $('#sampling-ch').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#sampling-ch').on('changeDate', function () {
            let date = $('#sampling-ch').datepicker('getFormattedDate');
            $('#sampling-ch').text(moment(date).format('DD MMMM YYYY'));
            $('#datepicker-ch').attr('value', moment(date).format('YYYY-MM-DD'));
            $('.datepicker').hide();
        });
        $(function () {
            $('#timepicker-ch').datetimepicker({
                format: 'LTS',
                locale: 'id'
            });
        });
        $("#timepicker-ch").on("change.datetimepicker", function (e) {
            let time = e.date.format('LTS');
            // console.log(time)
            $('#jam').attr('value', time);
        });

        let tgls = document.querySelectorAll("#tgl");
        tgls.forEach(function(el){
            console.log(el.value);
            el.innerText = moment(el.innerText).format('ddd, D');
        });

        //turn to popup mode
        $.fn.editable.defaults.mode = 'popup';
        $(document).ready(function() {
            $('.editable').editable({
                error: function(response, newValue) {
                    if(response.status === 500) {
                        return 'Tidak bisa update, Tambah data pakai form.';
                    }
                 },
            });
            $('.intake_ket').editable({
                prepend: "pilih",
                source: [
                    {value: 'pemenuhan kebutuhan air irigasi', text: 'Pemenuhan Kebutuhan Air Irigasi'},
                    {value: 'pengendalian banjir', text: 'Pengendalian Banjir'},
                    {value: 'kebocoran intake', text: 'Kebocoran Intake'},
                    {value: 'kejadian luar biasa', text: 'Kejadian Luar Biasa'}
                ]
            });
        });
    });
</script>
{% endblock %}
