{% extends 'master/base_adm.html' %}

{% set title = "Embung" %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<style>
    .datepicker {
        z-index: 10000 !important;
        display: inherit;
    }
</style>
<link href="{{ url_for('static', filename='css/bootstrap-editable.css') }}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block content %}
    <div>
        <section class="content-header">
            <h2>Operasi Embung</h2>
        </section>
        <div name="filter">
            <h4>
                <a id="datepicker" style="color: blue" href="#">
                    <span class="badge badge-primary">
                        <i class="bi bi-calendar-day"></i>
                    </span>
                    {{ sampling.strftime('%d %B %Y') }}
                </a>
                <!-- &nbsp; -->
                <a class="ml-5" href="/admin/embung/operasi/csv?sampling={{ sampling.strftime('%Y-%m-%d') }}">
                    <span class="badge badge-primary">
                        <i class="bi bi-cloud-download"></i>
                    </span>
                    Download
                </a>
                <button class="btn btn-outline-primary ml-3" id="btn_copy_clipboard">
                  Copy Table
                </button>
            </h4>

        </div>
        <div class="tab-content" id="nav-tabContent">
            <!--<div class="tab-pane fade {% if jenis == 'b' %}show active{% endif %} mt-2"
              id="nav-{{ jenis }}" role="tabpanel"
              aria-labelledby="nav-{{ jenis }}-tab">-->
                <table class="table table-hover table-striped table-bordered" id="tmavol">
                  <thead>
                      <tr class="table-active">
                          <th rowspan="3" class="text-center align-middle">No</th>
                          <th rowspan="3" class="text-center align-middle">Embung</th>
                          <th rowspan="2" colspan="2" class="text-center align-middle">TMA</th>
                          <th rowspan="2" colspan="2" class="text-center align-middle">Vol</th>
                          <th colspan="2" class="text-center align-middle">Inflow</th>
                          <th colspan="4" class="text-center align-middle">Outflow</th>
                      </tr>
                      <tr class="table-active">
                          <th rowspan="2" class="text-center align-middle">Debit</th>
                          <th rowspan="2" class="text-center align-middle">Volume</th>
                          <th colspan="2" class="text-center align-middle">Intake</th>
                          <th colspan="2" class="text-center align-middle">Spillway</th>
                      </tr>
                      <tr class="table-active">
                        <th class="text-center align-middle">Pagi</th>
                        <th class="text-center align-middle">Sore</th>
                        <th class="text-center align-middle">Pagi</th>
                        <th class="text-center align-middle">Sore</th>
                        <th class="text-center align-middle">Q</th>
                          <th class="text-center align-middle">V</th>
                          <th class="text-center align-middle">Q</th>
                          <th class="text-center align-middle">V</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% set ns = namespace(ws='0') %}
                    {% for emb in embung %}
                    {% if ns.ws != emb.wil_sungai %}{% set ns.ws = emb.wil_sungai %}
                      <tr>
                        <th colspan="12" align="center">
                          <b>
                            {{ wil_sungai[emb.wil_sungai] }}
                          </b>
                        </th>
                      </tr>
                    {% endif %}
                        <tr class="data">
                          <td>{{ loop.index }}</td>
                          <td>
                            <a href="{{ url_for('admin.operasi_embung', embung_id=emb.id) }}">{{ emb.nama }}</a> <small>{{ emb.kab }}</small>
                          </td>
                          <td align="right" class="tma_vol">
                            {% if emb.tma and emb.tma['06'] %}
                             {{ emb.tma['06'].tma}}
                            {% endif %}
                          </td>
                          <td align="right" class="tma_vol">
                            {% if emb.tma and emb.tma['18'] %}
                             {{ emb.tma['18'].tma}}
                            {% endif %}
                          </td>
                          <td align="right" class="tma_vol">
                            {% if emb.tma and emb.tma['06'] %}
                            {{ emb.tma['06'].vol }}
                            {% endif %}
                          </td>
                          <td align="right" class="tma_vol">
                            {% if emb.tma and emb.tma['18'] %}
                            {{ emb.tma['18'].vol }}
                            {% endif %}
                          </td>
                          <td align="right">
                            {% if emb.daily %}
                            {{ emb.daily.inflow_deb }}
                            {% endif %}
                          </td>
                          <td align="right">
                            {% if emb.daily %}
                            {{ emb.daily.inflow_vol }}
                            {% endif %}
                          </td>
                          <td align="right">
                            {% if emb.daily %}
                            {{ emb.daily.intake_deb }}
                            {% endif %}
                          </td>
                          <td align="right">
                            {% if emb.daily %}
                            {{ emb.daily.intake_vol }}
                            {% endif %}
                          </td>
                          <td align="right">
                            {% if emb.daily %}
                            {{ emb.daily.spillway_deb }}
                            {% endif %}
                          </td>
                          <td align="right">
                            {% if emb.daily %}
                            {{ emb.daily.spillway_vol }}
                            {% endif %}
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
              </table>
            <!--</div>-->
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/id.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
<script>
    $(document).ready(function() {
        // resolve package confict
        let datepicker = $.fn.datepicker.noConflict();
        $.fn.bootstrapDP = datepicker;

        $('#datepicker').datepicker({
          todayHighlight: true,
          autoclose: true,
          format: 'yyyy-mm-dd'
        });
        $('#datepicker').on('changeDate', function () {
          window.location = "{{ url_for('admin.operasi_harian_embung') }}?sampling=" + $('#datepicker').datepicker('getFormattedDate')
        });

        $(function () {
          $('[data-toggle="popover"]').popover()
        })

        let tgls = document.querySelectorAll("#tgl");
        tgls.forEach(function(el){
            console.log(el.value);
            el.innerText = moment(el.innerText).format('ddd, D');
        });

        //turn to popup mode
        $.fn.editable.defaults.mode = 'popup';
        $(document).ready(function() {
            $('.editable').editable({
                error: function(response, newValue) {
                    if(response.status === 500) {
                        return 'Tidak bisa update, Tambah data pakai form.';
                    }
                 },
            });
            // $('.intake_ket').editable({
            //     prepend: "pilih",
            //     source: [
            //         {value: 'pemenuhan kebutuhan air irigasi', text: 'Pemenuhan Kebutuhan Air Irigasi'},
            //         {value: 'pengendalian banjir', text: 'Pengendalian Banjir'},
            //         {value: 'kebocoran intake', text: 'Kebocoran Intake'},
            //         {value: 'kejadian luar biasa', text: 'Kejadian Luar Biasa'}
            //     ]
            // });
        });
        new ClipboardJS("#btn_copy_clipboard", {
          text: function () {
            let out = 'No\tEmbung\tTMA Pagi\tTMA Sore\tVol Pagi\tVol Sore\tInflow Debit\tInflow Vol\tOutflow Intake Debit\tOutflow Intake Vol\tOutflow Spillway Debit\tOutflow Spillway Vol\n';
            let rows = document.querySelectorAll('.data');
            for (i=0; i < rows.length; i++) {
              for (j=0; j < rows[i].cells.length; j++) {
                out += rows[i].cells[j].innerText + '\t';
              }
              out += '\n'
            }
            return out;
          }
        });
    });
</script>
{% endblock %}
