{% extends 'master/base.html' %}

{% set title = "Embung" %}

{% block css %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Embung</h1>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active"
            id="nav-home-tab" data-toggle="tab"
            href="#nav-home" role="tab"
            aria-controls="penampung-air" aria-selected="true">
            <h3>Penampung Air <small><span class="badge badge-pill badge-secondary" id="eb_len"></span></small></h3>
        </a>
        <a class="nav-item nav-link"
            id="nav-profile-tab" data-toggle="tab"
            href="#nav-profile" role="tab"
            aria-controls="air-baku" aria-selected="false">
            <h3>Air Baku <small><span class="badge badge-pill badge-secondary" id="ea_len"></span></small></h3>
        </a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active mt-2"
        id="nav-home" role="tabpanel"
        aria-labelledby="penampung-air-tab">
        <table id="bpa" class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Kec, Kab</th>
                    <th>Tampungan</th>
                    <th>Irigasi</th>
                </tr>
            </thead>
            <tbody>
                {% for e in embung_b %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>
                          {{ e.nama }}
                          {% if e.is_verified == '0' %}**{% endif %}
                      </td>
                      <td>{{ e.kec }}, <b>{{ e.kab }}</b></td>
                      <td class="text-right">{{ e.tampungan }}</td>
                      <td class="text-right">{{ e.irigasi }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      <div class="tab-pane fade mt-2"
        id="nav-profile" role="tabpanel"
        aria-labelledby="air-baku-tab">
        <table id="ab" class="table table-bordered ">
            <thead>
                    <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Kec, Kab</th>
                            <th>Tampungan</th>
                            <th>Air Baku</th>
                    </tr>
            </thead>
            <tbody>
                {% for e in embung_a %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>
                          {{ e.nama }}
                          {% if e.is_verified == '0' %}**{% endif %}
                      </td>
                      <td>{{ e.kec }}, <b>{{ e.kab }}</b></td>
                      <td class="text-right">{{ e.tampungan }}</td>
                      <td class="text-right">{{ e.air_baku }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
            return this.flatten().reduce( function ( a, b ) {
                    if ( typeof a === 'string' ) {
                            a = a.replace(/[^\d.-]/g, '') * 1;
                    }
                    if ( typeof b === 'string' ) {
                            b = b.replace(/[^\d.-]/g, '') * 1;
                    }

            return a + b;
            }, 0 );
    } );
    function updateLen(id, val) {
        document.getElementById(id).innerHTML = val;
    }
    $(document).ready(function() {
            let eb_len = {{ embung_b|length }};
            let ea_len = {{ embung_a|length }};
            updateLen("ea_len", ea_len);
            updateLen("eb_len", eb_len);
            var numberFormat = function (obj) {
                    return parseInt(obj).toLocaleString('id-ID');
            };
            var dt_bpa = $('#bpa').DataTable({
                    "order": [[3, 'desc']],
                    "paging": false,
                    "dom": '<"summary">f',
                    "language": {
                            "decimal": ",",
                            "thousands": "."
                    }
            });
            $('div.summary').html('Banyak: <b id="s_banyak" class="s_item">102</b>, Tampungan: <b class="s_item"><span id="s_tampungan">-</span> M<sup>3</sup>, </b>Irigasi: <b class="s_item"><span id="s_irigasi"></span> Ha</b>');
            var dt_ab = $('#ab').DataTable({
                    "order": [[3, 'desc']],
                    "dom": '<"summary_ab">f',
                    "paging": false,
                    "language": {
                            "decimal": ",",
                            "thousands": "."
                    }
            });
            $('div.summary_ab').html('Banyak: <b id="s_banyak_ab" class="s_item">72</b> Tampungan: <b class="s_item"><span  id="s_tampungan_ab">-</span> M<sup>3</sup></b>Air Baku: <b class="s_item"><span id="s_airbaku"></span> KK</b>');
            dt_bpa.on('draw', function () {
                    var tampungan = dt_bpa.column(3, {filter: 'applied'}).data().sum();
                    $('#s_tampungan').text(numberFormat(tampungan));
                    $('#s_banyak').text(dt_bpa.rows({filter: 'applied'}).data().length)
                    $('#s_irigasi').text(numberFormat(dt_bpa.column(4, {filter: 'applied'}).data().sum()));
                    updateLen("eb_len", dt_bpa.rows({filter: 'applied'}).data().length);
            });
            dt_ab.on('draw', function () {
                    $('#s_banyak_ab').text(dt_ab.rows({filter: 'applied'}).data().length)
                    $('#s_tampungan_ab').text(numberFormat(dt_ab.column(3, {filter: 'applied'}).data().sum()));
                    $('#s_airbaku').text(numberFormat(dt_ab.column(4, {filter: 'applied'}).data().sum()));
                    updateLen("ea_len", dt_ab.rows({filter: 'applied'}).data().length);
            });
            $('#s_tampungan').text(dt_bpa.column(3, {filter: 'applied'}).data().sum());
            $('#s_irigasi').text(numberFormat(dt_bpa.column(4, {filter: 'applied'}).data().sum()));
            $('#s_tampungan').text(numberFormat($('#s_tampungan').text()));
            $('#s_tampungan_ab').text(numberFormat(dt_ab.column(3, {filter: 'applied'}).data().sum()));
            $('#s_airbaku').text(numberFormat(dt_ab.column(4, {filter: 'applied'}).data().sum()));
    });
  </script>

{% endblock %}
