{% extends 'master/base.html' %}

{% set title = "Embung" %}

{% block content %}
<div class="container">
    <h1 class="font-weight-lighter">Embung <small class="font-weight-lighter text-muted">({{ ctx.hulu.all_embung|length + ctx.madiun.all_embung|length + ctx.hilir.all_embung|length }})</small></h1>
    <div class="row align-items-end mt-3 mb-2">
      <div class="col-3"><h2><small>Wilayah</small> Hulu <small class="text-secondary font-weight-lighter">({{ ctx.hulu.all_embung|length }})</small></h2></div>
      <div class="col-3"><small class="text-secondary text-uppercase">tampungan</small> {{ "{:0,.0f}".format(ctx.hulu.tampungan).replace(',', '.') }} M<sup>3</sup></div>
      <div class="col-2"><small class="text-secondary text-uppercase">irigasi</small> {{ "{:0,.0f}".format(ctx.hulu.irigasi).replace(',', '.') }} M<sup>3</sup></div>
      <div class="col-2"><small class="text-secondary text-uppercase">volume pagi</small> {{ "{:0,.0f}".format(ctx.hulu.vol_06).replace(',', '.') }} M<sup>3</sup></div> 
      <div class="col-2"><small class="text-uppercase text-secondary">volume sore</small> {{ "{:0,.0f}".format(ctx.hulu.vol_18).replace(',', '.') }} M<sup>3</sup></div>
    </div>
    <table class="table">
      <thead class="text-muted">
        <tr class="bg-light">
          <th>&nbsp;</th>
          <th class="font-weight-light">Nama</th>
          <th class="text-right font-weight-light">Tampungan</th>
          <th class="text-right font-weight-light">Irigasi</th>
          <th class="text-right font-weight-light">TMA Pagi</th>
          <th class="text-right font-weight-light">Vol Pagi</th>
          <th class="text-right font-weight-light">TMA Sore</th>
          <th class="text-right font-weight-light">Vol Sore</th>
        </tr>
      </thead>
      <tbody>
      {% for e in ctx.hulu.all_embung %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ e.nama }}</td>
          <td class="text-right">{% if e.tampungan %}{{ "{:0,.0f}".format(e.tampungan).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e.irigasi %}{{ "{:0,.0f}".format(e.irigasi).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e._06 and e._06.tma %}{{ "{:0,.0f}".format(e._06.tma).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e._06 and e._06.vol %}{{ "{:0,.0f}".format(e._06.vol).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e._18 and e._18.tma %}{{ "{:0,.0f}".format(e._18.tma).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e._18 and e._18.vol %}{{ "{:0,.0f}".format(e._18.vol).replace(',', '.') }}{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="row align-items-end mt-3 mb-2">
      <div class="col-3"><h2><small>Wilayah</small> Madiun <small class="text-secondary font-weight-lighter">({{ ctx.madiun.all_embung|length }})</small></h2></div>
      <div class="col-3"><small class="text-secondary text-uppercase">tampungan</small> {{ "{:0,.0f}".format(ctx.madiun.tampungan).replace(',', '.') }} M<sup>3</sup></div>
      <div class="col-2"><small class="text-secondary text-uppercase">irigasi</small> {{ "{:0,.0f}".format(ctx.madiun.irigasi).replace(',', '.') }} M<sup>3</sup></div>
      <div class="col-2"><small class="text-secondary text-uppercase">volume pagi</small> {{ "{:0,.0f}".format(ctx.madiun.vol_06).replace(',', '.') }} M<sup>3</sup></div> 
      <div class="col-2"><small class="text-uppercase text-secondary">volume sore</small> {{ "{:0,.0f}".format(ctx.madiun.vol_18).replace(',', '.') }} M<sup>3</sup></div>
    </div>
    <table class="table">
      <thead class="text-muted">
        <tr class="bg-light">
          <th>&nbsp;</th>
          <th class="font-weight-light">Nama</th>
          <th class="text-right font-weight-light">Tampungan</th>
          <th class="text-right font-weight-light">Irigasi</th>
          <th class="text-right font-weight-light">TMA Pagi</th>
          <th class="text-right font-weight-light">Vol Pagi</th>
          <th class="text-right font-weight-light">TMA Sore</th>
          <th class="text-right font-weight-light">Vol Sore</th>
        </tr>
      </thead>
      <tbody>
      {% for e in ctx.madiun.all_embung %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ e.nama }}</td>
          <td class="text-right">{% if e.tampungan %}{{ "{:0,.0f}".format(e.tampungan).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e.irigasi %}{{ "{:0,.0f}".format(e.irigasi).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e._06 and e._06.tma %}{{ "{:0,.0f}".format(e._06.tma).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e._06 and e._06.vol %}{{ "{:0,.0f}".format(e._06.vol).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e._18 and e._18.tma %}{{ "{:0,.0f}".format(e._18.tma).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e._18 and e._18.vol %}{{ "{:0,.0f}".format(e._18.vol).replace(',', '.') }}{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="row align-items-end mt-3 mb-2">
      <div class="col-3"><h2><small>Wilayah</small> Hilir <small class="text-secondary font-weight-lighter">({{ ctx.hilir.all_embung|length }})</small></h2></div>
      <div class="col-3"><small class="text-secondary text-uppercase">tampungan</small> {{ "{:0,.0f}".format(ctx.hilir.tampungan).replace(',', '.') }} M<sup>3</sup></div>
      <div class="col-2"><small class="text-secondary text-uppercase">irigasi</small> {{ "{:0,.0f}".format(ctx.hilir.irigasi).replace(',', '.') }} M<sup>3</sup></div>
      <div class="col-2"><small class="text-secondary text-uppercase">volume pagi</small> {{ "{:0,.0f}".format(ctx.hilir.vol_06).replace(',', '.') }} M<sup>3</sup></div> 
      <div class="col-2"><small class="text-uppercase text-secondary">volume sore</small> {{ "{:0,.0f}".format(ctx.hilir.vol_18).replace(',', '.') }} M<sup>3</sup></div>
    </div>
    <table class="table">
      <thead class="text-muted">
        <tr class="bg-light">
          <th>&nbsp;</th>
          <th class="font-weight-light">Nama</th>
          <th class="text-right font-weight-light">Tampungan</th>
          <th class="text-right font-weight-light">Irigasi</th>
          <th class="text-right font-weight-light">TMA Pagi</th>
          <th class="text-right font-weight-light">Vol Pagi</th>
          <th class="text-right font-weight-light">TMA Sore</th>
          <th class="text-right font-weight-light">Vol Sore</th>
        </tr>
      </thead>
      <tbody>
      {% for e in ctx.hilir.all_embung %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ e.nama }}</td>
          <td class="text-right">{% if e.tampungan %}{{ "{:0,.0f}".format(e.tampungan).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e.irigasi %}{{ "{:0,.0f}".format(e.irigasi).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e._06 and e._06.tma %}{{ "{:0,.0f}".format(e._06.tma).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e._06 and e._06.vol %}{{ "{:0,.0f}".format(e._06.vol).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e._18 and e._18.tma %}{{ "{:0,.0f}".format(e._18.tma).replace(',', '.') }}{% endif %}</td>
          <td class="text-right">{% if e._18 and e._18.vol %}{{ "{:0,.0f}".format(e._18.vol).replace(',', '.') }}{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
