<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToogle" aria-controls="navbarToogle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand d-none d-sm-block" href="/">
        <span class="">
            <img alt="Brand" src="/static/images/logo_bbws_bs.png" class="img-responsive" style="height: 2em">
        </span>
        <span class="">
            <img alt="Brand" src="/static/images/bbws_bs.png" class="img-responsive" style="height: 2em">
        </span>
    </a>
    <a class="navbar-brand d-block d-sm-none" href="/" style="font-size: 13pt; font-weight: bold;">
        UPB Bendungan
    </a>

    <div class="collapse navbar-collapse" id="navbarToogle">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <!-- <a class="nav-link dropdown" href="/admin/">Admin</a> -->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <b>Bendungan</b>
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/bendungan">Data</a>
              <a class="dropdown-item" href="/bendungan/petugas">Petugas</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/embung"><b>Embung</b></a>
        </li>
        <li class="nav-item dropdown">
          <!-- <a class="nav-link dropdown" href="/admin/">Admin</a> -->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <b>Peta</b>
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/map/bendungan">Bendungan</a>
              <a class="dropdown-item" href="/map/embung">Embung</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <!-- <a class="nav-link dropdown" href="/admin/">Admin</a> -->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <b>Profile</b>
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile/wilayah-kerja">Wilayah Kerja</a>
              <a class="dropdown-item" href="/profile/struktur-organisasi">Struktur Organisasi</a>
              <a class="dropdown-item" href="/profile/kontak-kami">Kontak Kami</a>
            </div>
        </li>

        <!-- <li class="nav-item">

            <a class="nav-link" href="/login"><b>Login</b></a>

        </li> -->
      </ul>
    </div>
  </div>
</nav>
<div class="text-center text-light bg-primary">
    <h3>UNIT PENGELOLA BENDUNGAN</h3>
</div>
