<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title>
            {% if title %}
                {{title}} | Admin UPB Bendungan
            {% else %}
                Admin UPB Bendungan
            {% endif %}
        </title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/pupr.ico') }}"/>

        <!-- Custom styles for this template-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <style media="screen">
            .table-bordered { border: 2px solid #222; }
            .table-bordered td, .table-bordered thead th, .table-bordered th { border: 1px solid #222; }
        </style>

        <style>
            .table {
                border: 0.5px solid #000000;
            }
            .table-bordered > thead > tr > th,
            .table-bordered > tbody > tr > th,
            .table-bordered > tfoot > tr > th,
            .table-bordered > thead > tr > td,
            .table-bordered > tbody > tr > td,
            .table-bordered > tfoot > tr > td {
                border: 0.5px solid #000000;
            }
        </style>

        {% block css %}{% endblock %}
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            {% include 'master/navbar_adm.html' %}

            <!-- Content Wrapper -->
            <div class="container" id="content-wrapper">

                <!-- Main Content -->
                <div class="mt-2 py-3" id="content">

                    <!-- Begin Page Content -->
                    <div class="">

                        <!-- NoScript section -->
                        <noscript>
                            <div class="alert alert-danger text-center" role="alert">
                                <p>
                                    Peringatan : Setting JavaScript di Alat anda tidak aktif.
                                    <br>
                                    Hal tersebut akan mengganggu beberapa fungsi di web ini.
                                    <br>
                                    Dimohon segera mengaktifkan setting JavaScript.
                                    <br>
                                    Terima Kasih.
                                </p>
                            </div>
                        </noscript>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                            {% for category, message in messages %}
                              {% if category != 'notify' %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                  {{ message }}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                              {% else %}
                                <div class="modal fade" id="notify" tabindex="-1" role="dialog" aria-labelledby="notifyLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="notifyLabel">Laporan</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <pre id='notify-text'>{{ message }}</pre>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="copyClipboard()">Copy</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        {% endwith %}

                        {% block content %}{% endblock %}

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

            </div>
            <!-- End of Content Wrapper -->

            <!-- Custom Confirm Using Modal -->
            <div id="confirm" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm border-danger" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">UPB Bengawan Solo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="message">Modal body text goes here.</p>
                        </div>
                        <div class="modal-footer">
                            <button id="yes" type="button" class="btn btn-primary">Ya</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Custom Alert Using Modal -->
            <div id="alert" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">UPB Bengawan Solo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="message">Modal body text goes here.</p>
                        </div>
                        <div class="modal-footer">
                            <button id="yes" type="button" class="btn btn-primary">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Page Wrapper -->

        <!-- Bootstrap core JavaScript-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
        function customConfirm(message, yesCallback) {
            let confirmBox = $("#confirm");
            confirmBox.find(".message").text(message);
            confirmBox.find("#yes").click(function(){
                confirmBox.modal("toggle");
                yesCallback();
            });
            confirmBox.modal("toggle");
        }

        function customAlert(message, yesCallback) {
            let confirmBox = $("#alert");
            confirmBox.find(".message").text(message);
            confirmBox.find("#yes").click(function(){
                confirmBox.modal("toggle");
                yesCallback();
            });
            confirmBox.modal("toggle");
        }

        function copyClipboard(){
          var range = document.createRange();
          range.selectNode(document.getElementById("notify-text"));
          window.getSelection().removeAllRanges(); // clear current selection
          window.getSelection().addRange(range); // to select text
          document.execCommand("copy");
          window.getSelection().removeAllRanges();// to deselect

          /* Alert the copied text */
          alert("Laporan Sudah ter-copy, silahkan paste di WA.");
        }

        $(document).ready(function() {
          $('#notify').modal();
        });
        </script>
        {% block js %}{% endblock %}
    </body>

</html>
