
<div style="height: 100%; width: 100%; background-size: inherit; background-image: url({{ url_for('static', filename='images/bd_cengklik_1.jpg') }})">
    <div style="background-color: rgba(255,255,255,0.5);">
        <div class="container text-left pb-2 pt-2">
            <h1>
                <span style="color: white; text-shadow: 2px 2px 5px #666;">
                    <a style="color: white;" href="{{ url_for('bendungan.index') }}">
                        Ringkasan {{ count.waduk }} Bendungan <!-- dan {{ count.embung }} Embung -->
                        <br>
                        Status: {{ tgl.strftime('%d %b %Y') }}
                    </a>
                </span>
            </h1>
        </div>
    </div>
    <div class="row mr-1">
        <div class="col-md-6">
            <div class="container">
                <div class="card mt-2 mb-2 mr-4 ml-4" style="background: rgba(255, 255, 255, 0.8);">
                  <div class="card-body pt-1 pb-1">
                      <h3 class="card-title">Volume Tampungan</h3>
                      <div class="row">
                          <div class="col-md-6">
                              <canvas id="pieChart"></canvas>
                          </div>
                          <div class="col-md-6">
                              <div class="row container ml-2">
                                  <div class="col-4">
                                      <div class="text-left">
                                          <span>Potensial</span>
                                      </div>
                                  </div>
                                  <div class="col-8">
                                      <div class="text-right">
                                          <h3>{{ "{:,.0f}".format(vol_potensi) }} M<sup>3</sup></h3>
                                      </div>
                                  </div>
                              </div>
                              <div class="row container ml-2">
                                  <div class="col-4 float-left">
                                      <span>Realisasi</span>
                                  </div>
                                  <div class="col-8">
                                      <div class="text-right">
                                          <h3>{{ "{:,.0f}".format(real.volume) }} M<sup>3</sup></h3>
                                      </div>
                                  </div>
                              </div>
                              <div class="row container ml-2">
                                  <div class="col-4">
                                      <div class="text-left">
                                          <span>RTOW</span>
                                      </div>
                                  </div>
                                  <div class="col-8">
                                      <div class="text-right">
                                          <h3>{{ "{:,.0f}".format(rtow.volume) }} M<sup>3</sup></h3>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="card mt-2 mb-2 mr-4 ml-4"  style="background: rgba(255, 255, 255, 0.8);">
                  <div class="card-body row pt-0 pb-0">
                      <table style="width: 100%" class="table table-bordered">
                        <tr>
                            <th colspan="2" style="text-align: center; border-bottom: solid 1px #999;"><span class="huge">Total Outflow</span></th>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 50%;border-right: solid 1px black;"><span style="z-index: -99; float: left;vertical-align: middle;" class="">
                                RTOW</span><span style="font-size: 200%">{{ "{:,.2f}".format(rtow.outflow) }}</span> (M<sup>3</sup>/detik)
                            </td>
                            <td class="text-center" style="width: 50%"><span style="z-index: -99; float: left;vertical-align: middle;" class="">
                                Realisasi</span><span style="font-size: 200%">{{ "{:,.2f}".format(real.outflow) }}</span> (M<sup>3</sup>/detik)
                            </td>
                        </tr>
                    </table>
                  </div>
                </div>
                <div class="card mt-2 mb-2 mr-4 ml-4"  style="background: rgba(255, 255, 255, 0.8);">
                  <div class="card-body row pt-0 pb-0">
                      <table style="width: 100%" class="table table-bordered">
                        <tr>
                            <th colspan="2" style="text-align: center; border-bottom: solid 1px #999;"><span class="huge">Total Inflow</span></th>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 50%;border-right: solid 1px black;"><span style="z-index: -99; float: left;vertical-align: middle;" class="">
                                RTOW</span><span style="font-size: 200%">{{ "{:,.0f}".format(rtow.inflow) }}</span> (M<sup>3</sup>/detik)
                            </td>
                            <td class="text-center" style="width: 50%"><span style="z-index: -99; float: left;vertical-align: middle;" class="">
                                Realisasi</span><span style="font-size: 200%">{{ "{:,.0f}".format(real.inflow) }}</span> (M<sup>3</sup>/detik)
                            </td>
                        </tr>
                    </table>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- <div class="card mt-2 mb-2 mr-4 ml-4" style="background: rgba(255, 255, 255, 0.8);">
                <div class="card-body row pt-1 pb-1">
                    <div class="col-md-4">
                        <h3 class="card-title">Volume Tampungan</h3>
                    </div>
                    <div class="col-md-8">
                        <div class="row container ml-2">
                            <div class="col-xs-4">
                                <div class="text-left">
                                    <span>Potensial</span>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="text-right">
                                    <h3>{{ vol_embung }} M<sup>3</sup></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
          </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    var xValues = ["Realisasi", "Potensial"];
    var yValues = [{{ real.volume }}, {{ real.volume - vol_potensi }}];
    var barColors = ["aqua", "grey"];
    new Chart("pieChart", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          borderColor: "black",
          data: yValues
        }]
      },
      options: {
        title: {
          display: false,
          text: "Volume Realisasi"
        },
        legend: {
            position: 'left',
            labels: {
                fontColor: "black",
                boxWidth: 30,
                padding: 30
            }
        }
      }
    });
</script>
