
<div style="height: 100%; width: 100%; background-size: inherit; background-image: url({{ url_for('static', filename='images/bd_cengklik_1.jpg') }})">
    <div style="background-color: rgba(255,255,255,0.5);">
        <div class="container text-left pb-2 pt-2">
            <h1>
                <span style="color: white; text-shadow: 2px 2px 5px #666;">
                    <a style="color: white;" href="{{ url_for('bendungan.index') }}">
                        Ringkasan {{ count.waduk }} Bendungan <!-- dan {{ count.embung }} Embung -->
                        <br>
                        Status: {{ tgl.strftime('%d %b %Y') }}
                    </a>
                </span>
            </h1>
        </div>
    </div>
    <div class="row mr-1">
        <div class="col-md-6">
            <div class="container">
                <div class="card mt-2 mb-2 mr-4 ml-4" style="background: rgba(255, 255, 255, 0.8);">
                  <div class="card-body pt-1 pb-1">
                      <h3 class="card-title">Volume Tampungan {{ count.waduk }} Bendungan</h3>
                      <div class="row">
                          <div class="col-md-6 mb-2">
                              <canvas id="pieChart"></canvas>
                          </div>
                          <div class="col-md-6" id="chartLegend">

                          </div>
                      </div>
                  </div>
                </div>
                <div class="card mt-2 mb-2 mr-4 ml-4"  style="background: rgba(255, 255, 255, 0.8);">
                  <div class="card-body row pt-0 pb-0">
                      <table style="width: 100%" class="table table-bordered">
                        <tr>
                            <th colspan="2" style="text-align: center; border-bottom: solid 1px #999;"><span class="huge">Total Outflow</span></th>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 50%;border-right: solid 1px black;"><span style="z-index: -99; float: left;vertical-align: middle;" class="">
                                RTOW</span><span style="font-size: 200%">{{ "{:,.2f}".format(rtow.outflow) }}</span> (M<sup>3</sup>/detik)
                            </td>
                            <td class="text-center" style="width: 50%"><span style="z-index: -99; float: left;vertical-align: middle;" class="">
                                Realisasi</span><span style="font-size: 200%">{{ "{:,.2f}".format(real.outflow) }}</span> (M<sup>3</sup>/detik)
                            </td>
                        </tr>
                    </table>
                  </div>
                </div>
                <div class="card mt-2 mb-2 mr-4 ml-4"  style="background: rgba(255, 255, 255, 0.8);">
                  <div class="card-body row pt-0 pb-0">
                      <table style="width: 100%" class="table table-bordered">
                        <tr>
                            <th colspan="2" style="text-align: center; border-bottom: solid 1px #999;"><span class="huge">Total Inflow</span></th>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 50%;border-right: solid 1px black;"><span style="z-index: -99; float: left;vertical-align: middle;" class="">
                                RTOW</span><span style="font-size: 200%">{{ "{:,.0f}".format(rtow.inflow) }}</span> (M<sup>3</sup>/detik)
                            </td>
                            <td class="text-center" style="width: 50%"><span style="z-index: -99; float: left;vertical-align: middle;" class="">
                                Realisasi</span><span style="font-size: 200%">{{ "{:,.0f}".format(real.inflow) }}</span> (M<sup>3</sup>/detik)
                            </td>
                        </tr>
                    </table>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <div class="card mt-2 mb-2 mr-4 ml-4 overflow-auto" style="background: rgba(255, 255, 255, 0.8); max-height: 600px">
                  <div class="card-body pt-1 pb-1">
                      <h3 class="card-title">Status Volume Bendungan</h3>
                      {% for _ in range(count.waduk) %}
                        {% if loop.index % 2 != 0 %}
                            <div class="row">
                        {% endif %}
                          <div class="col-sm-6">
                              <canvas id="pieChart-{{ loop.index0 }}"></canvas>
                              <hr>
                          </div>
                        {% if loop.index % 2 == 0 %}
                            </div>
                        {% endif %}
                      {% endfor %}
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    function add(accumulator, a) {
        return accumulator + a;
    }

    var volumeData = [
        ["RTOW", {{ rtow.volume }}],
        ["Realisasi", {{ real.volume }}],
        ["Potensial", {{ vol_potensi }}]
    ];
    // volumeData = volumeData.sort(function (a, b) {
    //     return a[1] - b[1];
    // });

    var xValues = [];
    var yValues = [];
    var barColors = [];
    Object.values(volumeData).forEach(function(val, idx, arr) {
        volEach = val[1];
        if (idx - 1 >= 0) {
            volEach -= arr[idx - 1][1];
        }
        yValues.push(volEach);

        if (val[0] == "Potensial") {
            xValues.push("Potensial");
            barColors.push("grey");
        }
        else if (val[0] == "Realisasi") {
            xValues.push("Realisasi");
            barColors.push("blue");
        }
        else if (val[0] == "RTOW") {
            xValues.push("RTOW");
            barColors.push("aqua");
        }
        else {
            xValues.push("TBA");
            barColors.push("white");
        }
    });

    // var yValues = [{{ real.volume }}, {{ real.volume - vol_potensi }}];
    var allChart = new Chart("pieChart", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          borderColor: "black",
          borderWidth: 0,
          data: yValues
        }]
      },
      options: {
        title: {
          display: false,
          text: "Volume Realisasi"
        },
        legend: {
            display: false,
            position: 'left',
            labels: {
                fontColor: "black",
                boxWidth: 30,
                padding: 30
            }
        },
        legendCallback: function(chart) {
            var colors = [];
            chart.data.datasets[0].backgroundColor.forEach(function (c) {
                if (c == "blue") {
                    colors.push('primary');
                } else if (c == "aqua") {
                    colors.push('info');
                } else if (c == "grey") {
                    colors.push('secondary');
                } else {
                    colors.push('light');
                }
            });

            var volumes = [];
            chart.data.datasets[0].data.forEach(function (v, idx, arr) {
                var val = v + arr.slice(0, idx).reduce(add, 0);
                volumes.push(val);
            })

            var text = [];
            text.push('<div class="' + chart.id + '-legend">');
            for (var i = 0; i < chart.data.datasets[0].data.length; i++) {
                text.push('<div class="row container"><div class="col-5"><div class="text-left">');
                if (chart.data.labels[i]) {
                    text.push(`<span class="badge badge-${colors[i]}">Vol</span>`);
                    text.push(`<span> ${chart.data.labels[i]}</span>`);
                }
                text.push('</div></div><div class="col-7"><div class="text-right"><h3>');
                text.push(parseFloat(volumes[i]/1000000).toFixed(1).toLocaleString());
                text.push(' Jt M<sup>3</sup></h3></div></div></div>');
            }
            text.push('</div>');
            return text.join("");
        },
        tooltips: {
            enabled: true,
            callbacks: {
                label: function(tooltipItem, data) {
                    var dataset = data.datasets[tooltipItem.datasetIndex];
                    var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                        return previousValue + currentValue;
                    });
                    // var currentValue = dataset.data[tooltipItem.index];
                    var currentValue = volumeData[tooltipItem.index][1];
                    var percentage = parseFloat((currentValue/total) * 100).toFixed(2);

                    var name = data.labels[tooltipItem.index];

                    return `${name} : ${percentage} %`;
                }
            }
        },
      }
    });

    document.getElementById("chartLegend").innerHTML = allChart.generateLegend();

    fetch('/api/bendungan/volume')
        .then(response => response.json())
        .then(data => {
            data.forEach(function(bend, idx, bendungan) {
                console.log();
                var volumeData = [
                    ["Realisasi", bend['volume_real']],
                    ["Potensial", bend['volume_potensial']]
                ];
                // volumeData = volumeData.sort(function (a, b) {
                //     return a[1] - b[1];
                // });

                var xValues = [];
                var yValues = [];
                var barColors = [];
                Object.values(volumeData).forEach(function(val, idx2, arr) {
                    volEach = val[1];
                    if (idx2 - 1 >= 0) {
                        volEach -= arr[idx2 - 1][1];
                    }
                    yValues.push(volEach);

                    if (val[0] == "Potensial") {
                        xValues.push("Vol banjir yg dapat ditampung");
                        barColors.push("grey");
                    }
                    else if (val[0] == "Realisasi") {
                        xValues.push("Vol saat ini");
                        barColors.push("blue");
                    }
                    else if (val[0] == "RTOW") {
                        xValues.push("RTOW");
                        barColors.push("aqua");
                    }
                    else {
                        xValues.push("TBA");
                        barColors.push("white");
                    }
                });

                new Chart(`pieChart-${idx}`, {
                  type: "pie",
                  data: {
                    labels: xValues,
                    datasets: [{
                      backgroundColor: barColors,
                      borderColor: "black",
                      borderWidth: 0,
                      data: yValues
                    }]
                  },
                  options: {
                        title: {
                          display: true,
                          text: `${bend.name} (Vol. Normal : ${parseFloat(bend.volume_potensial/1000000).toFixed(2)} juta m3)`,
                          fontColor: "black"
                        },
                        legend: {
                            display: true,
                            position: 'right',
                            labels: {
                                fontColor: "black",
                                boxWidth: 30,
                                padding: 30
                            }
                        },
                        tooltips: {
                            enabled: true,
                            callbacks: {
                                label: function(tooltipItem, data) {
                                    var dataset = data.datasets[tooltipItem.datasetIndex];
                                    var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                                        return previousValue + currentValue;
                                    });
                                    var currentValue = dataset.data[tooltipItem.index];
                                    var percentage = parseFloat((currentValue/total) * 100).toFixed(2);

                                    var name = data.labels[tooltipItem.index];

                                    return `${percentage} %`;
                                }
                            }
                        },
                    }
                });
            });
        });
</script>
