<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        {# <a href="/dashboard" class="navbar-brand">{{ env('APP_NAME', 'App') }}</a> #}
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-right d-block d-sm-none">
            <a class="navbar-brand" href="/"><span>BBWS Bengawan Solo</span> </a>
        </div> -->
        <div class="navbar-header">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <a class="navbar-brand font-weight-lighter" href="/">UPB BBWS <span class="text-warning">BS</span></a>

        <div class="collapse navbar-collapse" id="navbar-main">
            <!-- Sidebar -->
            <ul class="nav navbar-nav navbar-center">
                {% if user.role == "2" %}
                    <li class="nav-item {% if subtitle == 'Operasi' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.operasi_bendungan', bendungan_id=user.bendungan_id) }}">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4 font-weight-lighter"><i class="bi bi-clipboard-check text-primary"></i> Operasi</span>
                            <div><small class="font-weight-lighter">TMA, Vol, Debit</small></div>
                        </a>
                    </li>

                    <li class="nav-item {% if subtitle == 'Keamanan' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.keamanan_bendungan', bendungan_id=user.bendungan_id) }}">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4 font-weight-lighter"><i class="bi bi-shield-lock text-primary"></i> Keamanan</span>
                            <div><small class="font-weight-lighter">VNotch, Piezometer</small></div>
                        </a>
                    </li>

                    <li class="nav-item {% if subtitle == 'Kegiatan' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.kegiatan_bendungan', bendungan_id=user.bendungan_id) }}">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4 font-weight-lighter"><i class="bi bi-activity text-primary"></i> Kegiatan</span>
                            <div><small class="font-weight-lighter">Foto kegiatan</small></div>
                        </a>
                    </li>

                    <li class="nav-item {% if subtitle == 'Kinerja' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.asset', bendungan_id=user.bendungan_id) }}">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4 font-weight-lighter"><i class="bi bi-graph-up text-primary"></i> Kinerja</span>
                            <div><small class="font-weight-lighter">Kinerja Bendungan</small></div>
                        </a>
                    </li>
                    <li class="nav-item {% if subtitle == 'Piket' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.piket_bendungan', bendungan_id=user.bendungan_id) }}">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4 font-weight-lighter"><i class="bi bi-clock-history text-primary"></i> Piket</span>
                            <div><small class="font-weight-lighter">Piket Banjir</small></div>
                        </a>
                    </li>
                {% elif user.role == '3' %}
                    <li class="nav-item {% if subtitle == 'Operasi' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.operasi_embung', embung_id=user.embung_id) }}">
                            <span class="h4 font-weight-lighter"><i class="bi bi-clipboard-check text-primary"></i> Operasi</span>
                            <div><small class="font-weight-lighter">TMA, Debit</small></div>
                        </a>
                    </li>
                    <li class="nav-item {% if subtitle == 'Kegiatan' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.kegiatan_embung', embung_id=user.embung_id) }}">
                            <span class="h4 font-weight-lighter"><i class="bi bi-activity text-primary"></i> Kegiatan</span>
                            <div><small class="font-weight-lighter">Foto kegiatan</small></div>
                        </a>
                    </li>
                {% elif user.role in ['1', '4'] %}
                    <li class="nav-item {% if title == 'Users' %}active{% endif %}">
                        <a class="nav-link" href="/admin/users">
                            <i class="bi-people text-primary"></i> User
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle {% if title == 'Bendungan' %}active{% endif %}" href="#" id="bendunganDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi-symmetry-vertical text-primary"></i> Bendungan
                      </a>
                        <div class="dropdown-menu" aria-labelledby="bendunganDropdown">
                          <a class="dropdown-item" href="{{ url_for('admin.bendungan') }}"><i class="bi bi-hammer mr-1"></i> Teknis</a>
                          <a class="dropdown-item" href="{{ url_for('admin.operasi_harian') }}"><i class="bi bi-clipboard-check mr-1"></i> Operasi</a>
                          <a class="dropdown-item" href="{{ url_for('admin.kegiatan') }}"><i class="bi bi-activity mr-1"></i> Kegiatan</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{ url_for('admin.piket_index') }}"><i class="bi bi-clock-history mr-1"></i> Piket</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle {% if title == 'Embung' %}active{% endif %}" href="#" id="bendunganDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi-symmetry-horizontal text-primary"></i> Embung
                      </a>
                        <div class="dropdown-menu" aria-labelledby="bendunganDropdown">
                          <a class="dropdown-item" href="{{ url_for('admin.embung') }}"><i class="bi bi-hammer mr-1"></i> Teknis</a>
                          <a class="dropdown-item" href="{{ url_for('admin.operasi_harian_embung') }}"><i class="bi bi-clipboard-check mr-1"></i> Operasi</a>
                          <a class="dropdown-item" href="{{ url_for('admin.kegiatan_index_embung') }}"><i class="bi bi-activity mr-1"></i> Kegiatan</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown {% if title == 'Petugas' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="text-primary bi-person"></i> Petugas
                        </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('admin.petugas_bendungan') }}"><i class="bi bi-clipboard-check mr-1"></i> Data</a>
                            <a class="dropdown-item" href="{{ url_for('admin.petugas_bendungan_kinerja') }}"><i class="bi bi-graph-up mr-1"></i> Kinerja</a>
                          </div>
                    </li>
                    <li class="nav-item {% if title == 'Rencana' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.rtow') }}">
                            <i class="bi-clock text-primary"></i> RTOW
                        </a>
                    </li>
                    <li class="nav-item {% if title == 'Kinerja' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.kinerja') }}">
                            <i class="bi-graph-up text-primary"></i> Kinerja
                        </a>
                    </li>
                    <li class="nav-item {% if title == 'Galeri' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.galeri') }}">
                            <i class="bi-card-image text-primary"></i>  Galeri
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav ml-auto">
                {% if user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                    <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/mypassword"><i class="bi bi-key mr-1"></i> Ganti Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout"><i class="bi bi-power mr-1"></i> Logout</a>
                     </div>
                </li>
                {% else %}
                    <li>
                        <a class="nav-link" href="/login"><i class="fas fa-key ml-2 mr-2"></i> Login</a>
                    </li>
                {% endif %}

            </ul>
            <!-- End of Sidebar -->
        </div>
    </div>
</nav>
