<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        {# <a href="/dashboard" class="navbar-brand">{{ env('APP_NAME', 'App') }}</a> #}
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-right d-block d-sm-none">
            <a class="navbar-brand" href="/"><span>BBWS Bengawan Solo</span> </a>
        </div> -->
        <div class="navbar-header">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <a class="navbar-brand" href="/">UPB BBWS BSOLO</a>

        <div class="collapse navbar-collapse" id="navbar-main">
            <!-- Sidebar -->
            <ul class="nav navbar-nav navbar-center">
                {% if user.role == "2" %}
                    <li class="nav-item {% if subtitle == 'Operasi' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.operasi_bendungan', bendungan_id=user.bendungan_id) }}">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4">Operasi</span>
                            <div><small>TMA, Vol, Debit</small></div>
                        </a>
                    </li>

                    <li class="nav-item {% if subtitle == 'Keamanan' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.keamanan_bendungan', bendungan_id=user.bendungan_id) }}">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4">Keamanan</span>
                            <div><small>VNotch, Piezometer</small></div>
                        </a>
                    </li>

                    <li class="nav-item {% if subtitle == 'Kegiatan' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.kegiatan_bendungan', bendungan_id=user.bendungan_id) }}">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4">Kegiatan</span>
                            <div><small>Foto kegiatan</small></div>
                        </a>
                    </li>

                    <li class="nav-item {% if subtitle == 'Kinerja' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.asset', bendungan_id=user.bendungan_id) }}">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4">Kinerja</span>
                            <div><small>Kinerja Bendungan</small></div>
                        </a>
                    </li>
                    <li class="nav-item {% if subtitle == 'Piket' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.piket_bendungan', bendungan_id=user.bendungan_id) }}">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4">Piket</span>
                            <div><small>Piket Banjir</small></div>
                        </a>
                    </li>
                {% elif user.role == '3' %}
                    <li class="nav-item {% if subtitle == 'Operasi' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.operasi_embung', embung_id=user.embung_id) }}">
                            <span class="h4">Operasi</span>
                            <div><small>TMA, Debit</small></div>
                        </a>
                    </li>
                    <li class="nav-item {% if subtitle == 'Kegiatan' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.kegiatan_embung', embung_id=user.embung_id) }}">
                            <span class="h4">Kegiatan</span>
                            <div><small>Foto kegiatan</small></div>
                        </a>
                    </li>
                {% elif user.role in ['1', '4'] %}
                    <li class="nav-item {% if title == 'Users' %}active{% endif %}">
                        <a class="nav-link" href="/admin/users">
                            User
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle {% if title == 'Bendungan' %}active{% endif %}" href="#" id="bendunganDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Bendungan
                      </a>
                        <div class="dropdown-menu" aria-labelledby="bendunganDropdown">
                          <a class="dropdown-item" href="{{ url_for('admin.bendungan') }}">Teknis</a>
                          <a class="dropdown-item" href="{{ url_for('admin.operasi_harian') }}">Operasi</a>
                          <a class="dropdown-item" href="{{ url_for('admin.kegiatan') }}">Kegiatan</a>
                          <a class="dropdown-item" href="{{ url_for('admin.piket_index') }}">Piket</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle {% if title == 'Embung' %}active{% endif %}" href="#" id="bendunganDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Embung
                      </a>
                        <div class="dropdown-menu" aria-labelledby="bendunganDropdown">
                          <a class="dropdown-item" href="{{ url_for('admin.embung') }}">Teknis</a>
                          <a class="dropdown-item" href="{{ url_for('admin.operasi_harian_embung') }}">Operasi</a>
                          <a class="dropdown-item" href="{{ url_for('admin.kegiatan_index_embung') }}">Kegiatan</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown {% if title == 'Petugas' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Petugas
                        </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('admin.petugas_bendungan') }}">Data</a>
                            <a class="dropdown-item" href="{{ url_for('admin.petugas_bendungan_kinerja') }}">Kinerja</a>
                          </div>
                    </li>
                    <li class="nav-item {% if title == 'Rencana' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.rtow') }}">
                            RTOW
                        </a>
                    </li>
                    <li class="nav-item {% if title == 'Kinerja' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.kinerja') }}">
                            Kinerja
                        </a>
                    </li>
                    <li class="nav-item {% if title == 'Galeri' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('admin.galeri') }}">
                            Galeri
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li>
                    <a class="nav-link disabled" href="#">{{ user.username }}</a>
                </li>
                {% if user %}
                    <li>
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-link" href="/login"><i class="fas fa-key ml-2 mr-2"></i> Login</a>
                    </li>
                {% endif %}

            </ul>
            <!-- End of Sidebar -->
        </div>
    </div>
</nav>
