<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        {# <a href="/dashboard" class="navbar-brand">{{ env('APP_NAME', 'App') }}</a> #}
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-right d-block d-sm-none">
            <a class="navbar-brand" href="/"><span>BBWS Bengawan Solo</span> </a>
        </div> -->
        <div class="navbar-header">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <a class="navbar-brand" href="#">UPB BBWS BSOLO</a>

        <div class="collapse navbar-collapse" id="navbar-main">
            <!-- Sidebar -->
            <ul class="nav navbar-nav navbar-center">
                {% if user.role == "2" %}
                    <li class="nav-item {% if title == 'Operasi' %}active{% endif %}">
                        <a class="nav-link" href="/admin/operasi/bendungan">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4">Operasi</span>
                            <div><small>TMA, Vol, Debit</small></div>
                        </a>
                    </li>

                    <li class="nav-item {% if title == 'Keamanan' %}active{% endif %}">
                        <a class="nav-link" href="/admin/keamanan/bendungan">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4">Keamanan</span>
                            <div><small>VNotch, Piezometer</small></div>
                        </a>
                    </li>

                    <li class="nav-item {% if title == 'Kegiatan' %}active{% endif %}">
                        <a class="nav-link" href="/admin/kegiatan/bendungan">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4">Kegiatan</span>
                            <div><small>Foto kegiatan</small></div>
                        </a>
                    </li>

                    <li class="nav-item {% if title == 'Kinerja' %}active{% endif %}">
                        <a class="nav-link" href="/admin/kinerja/bendungan">
                            <!-- <i class="fas fa-home mr-2"></i> -->
                            <span class="h4">Kinerja</span>
                            <div><small>Kinerja Bendungan</small></div>
                        </a>
                    </li>
                {% elif user.role == '1' %}
                    <li class="nav-item {% if title == 'Users' %}active{% endif %}">
                        <a class="nav-link" href="/admin/users">
                            User
                        </a>
                    </li>
                    <li class="nav-item {% if title == 'Operasi' %}active{% endif %}">
                        <a class="nav-link" href="/admin/operasi/harian">
                            Bendungan
                        </a>
                    </li>
                    <li class="nav-item {% if title == 'Bendungan' %}active{% endif %}">
                        <a class="nav-link" href="/admin/bendungan">
                            Data Teknis
                        </a>
                    </li>
                    <li class="nav-item {% if title == 'RTOW' %}active{% endif %}">
                        <a class="nav-link" href="/admin/rtow">
                            RTOW
                        </a>
                    </li>
                    <li class="nav-item {% if title == 'Kegiatan' %}active{% endif %}">
                        <a class="nav-link" href="/admin/kegiatan">
                            Foto Kegiatan
                        </a>
                    </li>
                    <li class="nav-item {% if title == 'Kinerja' %}active{% endif %}">
                        <a class="nav-link" href="/admin/kinerja">
                            Kinerja
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li>
                    <a class="nav-link disabled" href="#">{{ user.username }}</a>
                </li>
                {% if user %}
                    <li>
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-link" href="/login"><i class="fas fa-key ml-2 mr-2"></i> Login</a>
                    </li>
                {% endif %}

            </ul>
            <!-- End of Sidebar -->
        </div>
    </div>
</nav>
