{% extends 'master/base_adm.html' %}

{% set title = "Bendungan" %}
{% set subtitle = "Keamanan" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<style>
    .datepicker {
        z-index: 10000 !important;
        display: inherit;
    }
</style>
<link href="{{ url_for('static', filename='css/bootstrap-editable.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div>
        <h1>{{ bend.name }}</h1>
        <div class="forms">
            <div class="row">
                <div class="col-md-4">
                    <h5>
                      <a data-toggle="collapse" href="#piket_banjir" role="button" aria-expanded="false" aria-controls="piket_banjir">
                        Piket Banjir <small><i class="fas fa-play"></i></small>
                      </a>
                    </h5>
                    <hr>
                    <form action="{{ url_for('admin.piket_banjir_add', bendungan_id=bend.id) }}" method="POST">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf }}">
                        <div class="collapse" id="piket_banjir">
                          <div>
                              <div class="form-group">
                                  <label class="form-text" for="sampling"><b>Tanggal</b></label>
                                  <input class="form-control" type="text" name="sampling" id="sampling" hidden required value="{{ now.strftime('%Y-%m-%d') }}">
                                  <p class="ml-2" id="form-datepicker"><i class="fas fa-calendar"></i> <span id="sampling-pb-text">{{ now }}</span></p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="cuaca"><b>Cuaca Terkini</b></label>
                                  <select id="cuaca" name="cuaca" class="form-control" required>
                                    <option value="">- pilih -</option>
                                    <option value="cerah">Cerah</option>
                                    <option value="berawan">Berawan</option>
                                    <option value="mendung">Mendung</option>
                                    <option value="gerimis">Gerimis</option>
                                    <option value="hujan">Hujan</option>
                                  </select>
                                  <small id="cuaca_help" class="form-text text-muted">(wajib)</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="curahhujan"><b>Curah Hujan</b></label>
                                  <input class="form-control" type="number"
                                        name="curahhujan" id="curahhujan" value="0.0"
                                        step="0.01" required aria-describedby="curahhujan_help">
                                  <small id="curahhujan_help" class="form-text text-muted">mm (wajib)</small>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 form-group">
                                  <label class="form-text" for="durasi"><b>Durasi</b></label>
                                  <input class="form-control" type="text"
                                        name="durasi" id="durasi" placeholder="contoh: 16.03-sekarang" required
                                        aria-describedby="durasi_help">
                                  <small id="durasi_help" class="form-text text-muted">contoh : "15.45-18.42" atau "16.03-sekarang" dsb (wajib)</small>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="tma"><b>TMA Terkini</b></label>
                                  <input class="form-control" type="number"
                                        name="tma" id="tma" placeholder="contoh: 40.45"
                                        step="0.01" aria-describedby="tma_help" required>
                                  <small id="tma_help" class="form-text text-muted">m (wajib)</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="volume"><b>Volume Terkini</b></label>
                                  <input class="form-control" type="number"
                                        name="volume" id="volume" placeholder="contoh: 12345.6"
                                        step="0.01" aria-describedby="volume_help">
                                  <small id="volume_help" class="form-text text-muted">m<sup>3</sup> (wajib)</small>
                              </div>
                          </div>
                          <div>
                              <b>Spillway</b>
                          </div>
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="spillway_tma"><b>Tinggi Limpasan</b></label>
                                  <input class="form-control" type="number"
                                        name="spillway_tma" id="spillway_tma" placeholder="contoh: 0.45"
                                        step="0.001" aria-describedby="spillway_tma_help">
                                  <small id="spillway_tma_help" class="form-text text-muted">cm</small>
                              </div>
                              <div class="col-md-6 form-group">
                                  <label class="form-text" for="spillway_deb"><b>Debit Limpasan</b></label>
                                  <input class="form-control" type="number"
                                        name="spillway_deb" id="spillway_deb" placeholder="contoh: 1.234"
                                        step="0.0001" aria-describedby="spillway_deb_help">
                                  <small id="spillway_deb_help" class="form-text text-muted">m<sup>3</sup>/det</small>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 form-group">
                                  <label class="form-text" for="kondisi"><b>Kondisi Visual Bendungan</b></label>
                                  <input class="form-control" type="text"
                                        name="kondisi" id="kondisi" required
                                        aria-describedby="kondisi_help">
                                  <small id="kondisi_help" class="form-text text-muted">contoh : "Aman" atau "Limpasan Aman" dsb (wajib)</small>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                                <label class="form-text" for="petugas_ids"><b>Petugas Piket</b></label>
                                <input class="form-control" type="text"
                                      name="petugas" id="petugas" required hidden>
                                <select id="petugas_names" name="petugas_names" class="selectpicker form-control" required multiple>
                                  {% for p in petugas %}
                                    <option value="{{ p.nama }}">{{ p.nama }}</option>
                                  {% endfor %}
                                </select>
                                <small id="petugas_ids_help" class="form-text text-muted">(wajib)</small>
                            </div>
                          </div>
                          <div>
                              <button type="submit" name="submit" id="submit" class="btn btn-primary my-1 mr-2">Kirim</button>
                              <a data-toggle="collapse" href="#piket_banjir" role="button" aria-expanded="false" aria-controls="piket_banjir">batal</a>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <h3>
            Laporan Piket <span id="datepicker" style="color: #18bc9c"><i class="bi bi-calendar-month"></i> {{ sampling.strftime("%B %Y") }}</span>
        </h3>
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-active">
                    <th rowspan="2" class="text-center align-middle">Tanggal</th>
                    <th rowspan="2" class="text-center align-middle">Cuaca Terkini</th>
                    <th rowspan="2" class="text-center align-middle">Curah Hujan Terkini (mm)</th>
                    <th rowspan="2" class="text-center align-middle">Durasi Hujan</th>
                    <th rowspan="2" class="text-center align-middle">Elevasi Normal (meter)</th>
                    <th rowspan="2" class="text-center align-middle">Volume Waduk Normal (m<sup>3</sup>)</th>
                    <th rowspan="2" class="text-center align-middle">TMA Terkini</th>
                    <th rowspan="2" class="text-center align-middle">Volume Waduk Terkini (m<sup>3</sup>)</th>
                    <th colspan="2" class="text-center align-middle">Spillway</th>
                    <th rowspan="2" class="text-center align-middle">Tampungan Waduk Saat Ini (%)</th>
                    <th rowspan="2" class="text-center align-middle">Kondisi Visual Bendungan</th>
                    <th rowspan="2" class="text-center align-middle">Nama Petugas Piket</th>
                </tr>
                <tr class="table-active">
                    <th class="text-center align-middle">Tinggi Limpasan (cm)</th>
                    <th class="text-center align-middle">Debit Limpasan (m<sup>3</sup>/detik)</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                <tr>
                    <td id="tgl">{{ report.sampling }}</td>
                    <td class="text-center">
                        <a data-url="{{ url_for('admin.piket_banjir_update') }}"
                            class="cuaca_choice"
                            data-name="cuaca"
                            data-type="select"
                            data-title="Cuaca Terkini"
                            data-pk="{{ report.piket_banjir.id }}">
                            {% if report.piket_banjir != None %}
                            <span style="color: blue">{{ report.piket_banjir.cuaca.title() }}</span>
                            {% else %}<span style="color: red">Empty</span>{% endif %}
                        </a>
                    </td>
                    <td class="text-right">
                      <a data-url="{{ url_for('admin.piket_banjir_update') }}"
                          class="editable"
                          data-name="ch"
                          data-type="number"
                          data-title="Curah Hujan Terkini"
                          data-step=".01"
                          data-pk="{{ report.piket_banjir.id }}">
                          {% if report.piket_banjir != None %}
                          <span style="color: blue">{{ report.piket_banjir.ch }}</span>
                          {% else %}<span style="color: red">Empty</span>{% endif %}
                      </a>
                    </td>
                    <td class="text-center">
                      <a data-url="{{ url_for('admin.piket_banjir_update') }}"
                          class="editable"
                          data-name="durasi"
                          data-type="text"
                          data-title="Durasi Hujan (pukul)"
                          data-pk="{{ report.piket_banjir.id }}">
                          {% if report.piket_banjir != None %}
                          <span style="color: blue">{{ report.piket_banjir.durasi }}</span>
                          {% else %}<span style="color: red">Empty</span>{% endif %}
                      </a>
                    </td>
                    <td class="text-right bg-light">{{ bend.muka_air_normal }}</td>
                    <td class="text-right bg-light">{{ "%.0f"|format(bend.volume) }}</td>
                    <td class="text-right">
                      <a data-url="{{ url_for('admin.piket_banjir_update') }}"
                          class="editable"
                          data-name="tma"
                          data-type="number"
                          data-title="TMA Terkini"
                          data-step=".01"
                          data-pk="{{ report.piket_banjir.id }}">
                          {% if report.piket_banjir != None %}
                          <span style="color: blue">{{ report.piket_banjir.tma }}</span>
                          {% else %}<span style="color: red">Empty</span>{% endif %}
                      </a>
                    </td>
                    <td class="text-right">
                        <a data-url="{{ url_for('admin.piket_banjir_update') }}"
                            class="editable"
                            data-name="volume"
                            data-type="number"
                            data-title="Volume Terkini (m3)"
                            data-step=".001"
                            data-pk="{{ report.piket_banjir.id }}">
                            {% if report.piket_banjir != None %}
                            <span style="color: blue">{{ report.piket_banjir.volume }}</span>
                            {% else %}<span style="color: red">Empty</span>{% endif %}
                        </a>
                    </td>
                    <td class="text-right">
                        <a data-url="{{ url_for('admin.piket_banjir_update') }}"
                            class="editable"
                            data-name="spillway_tma"
                            data-type="number"
                            data-title="Tinggi Limpasan"
                            data-step=".001"
                            data-pk="{{ report.piket_banjir.id }}">
                            {% if report.piket_banjir != None %}
                            <span style="color: blue">{{ report.piket_banjir.spillway_tma or 0 }}</span>
                            {% else %}<span style="color: red">Empty</span>{% endif %}
                        </a>
                    </td>
                    <td class="text-right">
                      <a data-url="{{ url_for('admin.piket_banjir_update') }}"
                          class="editable"
                          data-name="spillway_deb"
                          data-type="number"
                          data-title="Debit Limpasan"
                          data-step=".001"
                          data-pk="{{ report.piket_banjir.id }}">
                          {% if report.piket_banjir != None %}
                          <span style="color: blue">{{ report.piket_banjir.spillway_deb or '-' }}</span>
                          {% else %}<span style="color: red">Empty</span>{% endif %}
                      </a>
                    </td>
                    <td class="text-right">
                      {% if report.piket_banjir != None %}
                      <span>{{ report.piket_banjir.volume_percent }}%</span>
                      {% else %}<span style="color: red">Empty</span>{% endif %}
                    </td>
                    <td class="text-center">
                      <a data-url="{{ url_for('admin.piket_banjir_update') }}"
                          class="editable"
                          data-name="kondisi"
                          data-type="text"
                          data-title="Kondisi Visual Bendungan"
                          data-pk="{{ report.piket_banjir.id }}">
                          {% if report.piket_banjir != None %}
                          <span style="color: blue">{{ report.piket_banjir.kondisi }}</span>
                          {% else %}<span style="color: red">Empty</span>{% endif %}
                      </a>
                    </td>
                    <td class="text-center">
                      <a data-url="{{ url_for('admin.piket_banjir_update') }}"
                          class="petugas_choice"
                          data-name="petugas"
                          data-type="checklist"
                          data-title="Petugas Piket"
                          data-pk="{{ report.piket_banjir.id }}">
                          {% if report.piket_banjir != None %}
                          <span style="color: blue">{{ report.piket_banjir.petugas or '-' }}</span>
                          {% else %}<span style="color: red">Empty</span>{% endif %}
                      </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/id.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script>
    function updateDate(){
        let tgl2s = document.querySelectorAll("#tgl2");
        tgl2s.forEach(function(el){
            console.log(el.value);
            el.innerText = moment(el.innerText).format("LL");
        });
    }
    $(document).ready(function() {
        const today = new Date();
        const sampling_text = today.toLocaleDateString('ID', {day:'numeric', month:'long', year:'numeric'});
        const sampling_value = today.getFullYear() + '-' + (today.getMonth() +1) + '-'+ today.getDate();
        Array.from(document.getElementsByClassName('ml-2')).forEach((e) => { e.innerHTML = '<i class="fa fa-calendar"></i> ' + sampling_text; });
    
        // resolve package confict
        let datepicker = $.fn.datepicker.noConflict();
        $.fn.bootstrapDP = datepicker;

        $('#datepicker').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            startView: "months",
            minViewMode: "months"
        });
        $('#datepicker').on('changeDate', function () {
            window.location = "{{ url_for('admin.piket_bendungan', bendungan_id=bend.id) }}?&sampling=" + $('#datepicker').datepicker('getFormattedDate')
        });

        $('#form-datepicker').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd'
        });
        $('#form-datepicker').on('changeDate', function () {
            let date = $('#form-datepicker').datepicker('getFormattedDate');
            $('#sampling-pb-text').text(moment(date).format('DD MMMM YYYY'));
            $('#sampling').attr('value', moment(date).format('YYYY-MM-DD'));
            $('.datepicker').hide();
            console.log($('#sampling').val());
        });

        $('#petugas_names').on('change', function () {
            $('#petugas').val($('#petugas_names').val().slice(0, 2).join(", "));
            console.log($('#petugas').val());
        });

        let tgls = document.querySelectorAll("#tgl");
        tgls.forEach(function(el){
            console.log(el.value);
            el.innerText = moment(el.innerText).format('ddd, D');
        });
        $('#sampling-pb-text').text(moment("{{ now }}").format('DD MMMM YYYY'));
        updateDate();

        //turn to popup mode
        $.fn.editable.defaults.mode = 'popup';
        $(document).ready(function() {
            $('.editable').editable({
                error: function(response, newValue) {
                    return 'Tidak bisa update, Tambah data pakai form.';
                },
            });
            $('.cuaca_choice').editable({
                prepend: "pilih",
                source: [
                    {value: 'cerah', text: 'Cerah'},
                    {value: 'berawan', text: 'Berawan'},
                    {value: 'mendung', text: 'Mendung'},
                    {value: 'gerimis', text: 'Gerimis'},
                    {value: 'hujan', text: 'Hujan'}
                ],
                error: function(response, newValue) {
                    return 'Tidak bisa update, Tambah data pakai form.';
                },
            });
            $('.petugas_choice').editable({
                source: [
                  {% for p in petugas %}
                    {value: '{{ p.nama }}', text: '{{ p.nama }}'},
                  {% endfor %}
                ],
                params: function(params) {
                    console.log(params.value);
                    params.value = params.value.slice(0, 2).join(", ");
                    return params;
                },
                display: function(value, sourceData) {
                   //display checklist as comma-separated values
                   var html = [],
                       checked = $.fn.editableutils.itemsByValue(value, sourceData);

                   if(checked.length) {
                       $.each(checked.slice(0, 2), function(i, v) { html.push($.fn.editableutils.escape(v.text));});
                       $(this).html(html.join(', '));
                   }
                },
                error: function(response, newValue) {
                    return 'Tidak bisa update, Tambah data pakai form.';
                },
            });
        });
    });
</script>
{% endblock %}
